include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Цветовая схема

				.container-dashboard__content
					h1 Моя карточка
					+info-card-ui('Быстрые результаты', 'Контекст может похвастаться наиболее быстрыми результатами уже в первые дни запуска')
					+info-card-ui('Быстрые результаты', 'Контекст может похвастаться наиболее быстрыми результатами уже в первые дни запуска', 1, 45, 45)
					pre.
						+info-card-ui(title, txt)
					
					+info-card-ui('Быстрые результаты', 'Контекст может похвастаться наиболее быстрыми результатами уже в первые дни запуска', 1, 45, 45)
					pre.
						+info-card-ui('Быстрые результаты', 'Контекст может похвастаться наиболее быстрыми результатами уже в первые дни запуска', 1, 45, 45)
					hr
					h3 Технологии карточка
					.techno-card-wrapper
						+techno-card-ui('t1', 'Keys So', 'Платформа для автоматизации работы, которая позволяет и')
						+techno-card-ui('t2', 'Keys So', 'Платформа для автоматизации работы, которая позволяет и')
						+techno-card-ui('t3', 'Keys So', 'Платформа для автоматизации работы, которая позволяет и')
						+techno-card-ui('t4', 'Keys So', 'Платформа для автоматизации работы, которая позволяет и')
						+techno-card-ui('t5', 'Keys So', 'Платформа для автоматизации работы, которая позволяет и')
						+techno-card-ui('t6', 'Keys So', 'Платформа для автоматизации работы, которая позволяет и')
						+techno-card-ui('t7', 'Keys So', 'Платформа для автоматизации работы, которая позволяет и')
						+techno-card-ui('t8', 'Keys So', 'Платформа для автоматизации работы, которая позволяет и')
					pre.
						+techno-card-ui('t1', 'Keys So', 'Платформа для автоматизации работы, которая позволяет и')

					h3 Карточка тарифа
					.tariff-plan
						span.tariff-label
						.tariff-plan__body
							.tariff__name Старт
							.tariff__list
								.tariff__list-name Старт+
								ul
									li Анализ конкурентов
									li Технические аудиты сайта
									li Внутренняя оптимизация 
									li Улучшение коммерческих факторов
									li Мониторинг позиций сайта
									li Ежемесячный отчет
						
						.tariff-plan__footer
							.tariff-price 
								span 30 000 &#8381;	
							button.btn-outline.bg-black.w-100 Хочу
					
					h3 Карточка пакета
					.package
						.package__name настройка
						.package__price 59 000 &#8381;
						.package__link Узнать больше 
							svg.svg-right
								use(href='../img/sprite.svg#svg-right')
					
					br
					.package-list
						.package-list__item
							.package
								.package__name настройка
								.package__price 59 000 &#8381;
								.package__link Узнать больше 
									svg.svg-right
										use(href='../img/sprite.svg#svg-right')
						.package-list__item
							.package
								.package__name настройка
								.package__price 59 000 &#8381;
								.package__link Узнать больше 
									svg.svg-right
										use(href='../img/sprite.svg#svg-right')
						.package-list__item
							.package
								.package__name настройка
								.package__price 59 000 &#8381;
								.package__link Узнать больше 
									svg.svg-right
										use(href='../img/sprite.svg#svg-right')
						.package-list__item
							.package
								.package__name настройка
								.package__price 59 000 &#8381;
								.package__link Узнать больше 
									svg.svg-right
										use(href='../img/sprite.svg#svg-right')
					h3 Описание пакета
					br
					
					.package-card-wrapper
						.package-card__img(style="background-image:url(../img/targeting/tariff-bg.webp)")
						.package-card
							.package-card__head
								.package-card__title Ведение
								.package-card__subtitle Ведение уже существующих рекламных кампаний

							.package-card__list
								.package-label.label-1
									.package-label-txt Тестирование гипотез
								.package-label.label-2
									.package-label-txt Внесение изменений
								.package-label.label-3
									.package-label-txt Анализ статистики
								.package-label.label-4
									.package-label-txt Отчётность
							
							.package-card__btn
								button.btn.btn-blue.br-15 Заявка на мечту
								
					br
					h3 Таргетинг карточка
					br
					.direction-card(style="background-image: url('../img/direction/vk.webp')")
						.direction-card__title ВК Реклама
						p Система контекстной рекламы на страницах «Яндекса» и сайтах партнёров
						span.direction-card__arrow
							svg.svg-right
								use(href='../img/sprite.svg#svg-right')
					
					hr
					h3 Видео-реклама
					+videoRev(1, 'Дмитрий', 'Бизнес клуб Level Up')
					pre.
						+videoRev(2, 'Дмитрий', 'Бизнес клуб Level Up')
					hr
					
