include ../layouts/_mixins-links.pug
include ../layouts/layout-ui.pug
block variables



	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Типографика

				.container-dashboard__content
					ul
						li
							.h1 Заголовок в 90 пикселей
							pre.
								.h1 Заголовок в 90 пикселей
							hr
						li
							.inner-promo 
								h1  Заголовок в 96 пикселей
							.inner-promo
								.h1 Заголовок в 96 пикселей
							pre.
								.inner-promo 
									h1  Заголовок в 96 пикселей
								.inner-promo
									.h1 Заголовок в 96 пикселей
							hr
						li
							.title Заголовок в 70 пикселей
							pre.
								.title Заголовок в 70 пикселей
							hr
						li
							.title-45 Заголовок в 45 пикселей
							pre.
								.title-45 Заголовок в 45 пикселей
							hr
						li
							.title-32 Заголовок в 32 пикселей
							pre.
								.title-32 Заголовок в 32 пикселей
						
							hr
						li
							.h2 Заголовок в 28 пикселей
							pre.
								.h2 Заголовок в 28 пикселей
							hr
						li
							.h3 Заголовок в 24 пикселей
							pre.
								.h3 Заголовок в 24 пикселей
							hr
						li
							.bold-20  Жирный текст 20 пикселей
							pre.
								.bold-20  Жирный текст 20 пикселей
							hr
						li
							.subtitle Жирный текст 20/16 пикселей
							pre.
								.subtitle Жирный текст 20/16 пикселей
							hr
						li
							.txt-20 Текст в 20px
							pre.
								.txt-20 Текст в 20px
							hr
						li
							.txt-16 Текст в 16px
							pre.
								.txt-16 Текст в 16px
							hr
						li
							.txt-14 Текст в 14px
							pre.
								Текст в 14px
							hr
						li
							.link Ссылка
							pre.
								.link Ссылка

