.ui-panel
	.ui-panel-block
		.ui-panel-block__part
			
			a(href="http://localhost:3000/").back-index На Главную
			h3 Базовые компоненты
			ul
				li
					a(href="colors.html") Цветовая схема
				li
					a(href="card.html") Карточка
				li
					a(href="flip-card.html") Flip Карточка
				li
					a(href="typography.html") Типографика
				//- li
				//- 	a(href="positions-classes.html") Классы
				
				li
					a(href="icons.html") Иконки
				li
					a(href="buttons.html") Кнопки
				li
					a(href="forms.html") Формы
		.ui-panel-block__part
			ul
				li
					a(href="package-block.html") Тарифы и пакеты
			