@use "base/var" as *;
.custom-tabs{

	.custom-tab-item{
		font-family: var(--second-family);
		width: calc(50% - remy(15));
		&.active .custom-tab-btn{
			color: white;
			background: #f98836;
		}
		@media (max-width: 767px) {
			width: 100%;
			&.active .custom-tab-btn{
				
				&:after{
					background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='21' height='11' viewBox='0 0 21 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 10L10.5 2L20 10' stroke='white' stroke-width='2' stroke-linecap='round' /%3e%3c/svg%3e");
				}
			}
			&.active .custom-tab-hidden{
				z-index: 2;
			}
		}
	}
}
.custom-tab__title{
	font-family: var(--font-family);
	font-weight: 900;
	line-height: 1;
	font-size: remy(40);
	margin-bottom: remy(40);
	color: var(--white);
	
	@media (max-width: 767px) {display: none;}
}

.custom-tab-body{
	background-color: #282828;
	padding: remy(40);
	border-radius: remy(24);
	font-weight: 400;
	font-size: remy(28);
	line-height: 120%;
	color: #d6d6d6;
	width: 100%;
	&>*{max-width: remy(580);}
	
	p+p{margin-top: remy(20);}
	
	@media (max-width: 767px) {font-size: 14px; p+p{margin-top: 12px;}}

}
.custom-tab-item:hover .custom-tab-hidden{
	z-index: 2;
	display: block;
}
.custom-tabs{
	.custom-tab-btn{width: 100%;}
	.custom-tab-item +.custom-tab-item{
		margin-top: remy(20);
		@media (max-width: 767px) {
			margin-top: 16px;
		}
	}
}

.custom-tabs{
	position: relative;
	overflow: hidden;
}

// .custom-tab-item.active{
// 	.custom-tab-btn{
// 		color: white;
// 		background: #f98836;
		
// 	}
// }


.custom-tab-hidden{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: calc(( 100% - remy(30)) / 2);
	display: none;
	z-index: -1;
	display: flex;
	transition: .3s;
	@media (max-width: 767px) {
		position: relative;
		width: 100%;
	}
}
.custom-tab-body{
	background-color: #282828;
	padding: remy(40);
	border-radius: remy(24);
	font-weight: 400;
	font-size: remy(28);
	line-height: 120%;
	color: #d6d6d6;
	width: 100%;
	strong, span{color: white; font-weight: 600!important;}
	@media (max-width: 767px) {
		padding: 48px 28px 16px;
		border-radius: 0 0 12px 12px;

	}
}
.custom-tab-hidden {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
	
}

.custom-tab-item.active .custom-tab-hidden {
    max-height: none;
	@media (max-width: 767px) {
		margin-top: -32px;
		z-index: 1;
	}
	
}

@media (min-width: 768px) {
    .custom-tab-hidden {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: calc((100% - remy(60)) / 2);
        max-height: none; 
        display: none;
		min-height: 100% !important;
    }
	
    .custom-tab-item.active .custom-tab-hidden {
        display: flex;
        z-index: 10;
    }
}

.round-link{
	border: 1px solid #4d4e4f;
	border-radius: remy(66);
	padding-inline: remy(58);
	padding-right: remy(20);
	height: remy(73);
	display: flex;
	align-items: center;
	column-gap: remy(16);
	font-weight: 600;
	font-size: remy(24);
	letter-spacing: -0.02em;
	color: #a4a6a9;
	transition: .3s; 
	width: 100%;
	position: relative;
	& *{pointer-events: none;}
	p{flex-grow: 1;}
	&:after{
		content:'';
		width: remy(21);
		aspect-ratio: 21 / 11;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='21' height='11' viewBox='0 0 21 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M20 1L10.5 9L1 1' stroke='%23A4A6A9' stroke-width='2' stroke-linecap='round' /%3e%3c/svg%3e");
		background-size: contain;
		background-repeat: no-repeat;
		flex-shrink:0;
		margin-left: auto;
		display: none;
		@media (max-width: 767px) {
		 display: block;
		}
	}
	
	&:hover{
		color: white;
		background: #f98836;
		background-color:  #4d4e4f;;
	}
	
	@media (max-width: 767px) {
		padding: 16px 24px;
		font-size: 14px;
		height: auto;
		min-height: 66px;
		position: relative;
		z-index: 3;
	}
}