@use "base/var" as *;
footer.footer{
	background-color: #242526;
	padding-top: 50px;
	padding-bottom: 100px;
	color: rgba(121, 121, 121, .8);
	@media (max-width: 767px) {
	padding-bottom: 50px;
	}
	.footer-content{
		display: flex;
		justify-content: space-between;
		column-gap:50px;
		@media (max-width: 767px) {
		flex-direction: column;
		}
	}
	.footer-logo{
		.logo{margin-bottom: 28px;}
			
			
		
		@media (max-width: 767px) {
			margin-bottom: 22px;
		}
			
	}
	.footer-logo .link{
		color: rgba(214, 214, 214, .8);
		font-family: $ft;
		display: block;
		width: fit-content;
		margin-bottom: 5px;
		&:hover{color:white;}
	}
		.email-link {
			color: #a4a6a9;
		}
}
.bank-details{
	font-size: 12px;
	line-height: 1.41;
	color: rgba(214, 214, 214, .8);
	margin-top: 15px;
	font-family: $ft;
	@media (max-width: 767px) {
	display: none;
	}
}
.footer-nav{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 52px;
	
	@media (max-width: 767px) {
		column-gap: 15px;
	}
}
.nav{
	.nav-title{
		margin-bottom: 23px;
		font-size: 18px;
		color: #d6d6d6;
		@media (max-width: 767px) {
				font-size: 13px;
			}
	}
}
.nav-list{
	display: flex;
	flex-direction: column;
	row-gap:10px;
	
	.nav-item, .email-link{
		color: #797979;
		font-size: 18px;
		transition: .3s; 
		&:hover{color: #d6d6d6;}
		@media (max-width:767px) {
			font-size: 13px;
		}
	}
	.nav-item.email-link{ color:#a4a6a9;}
}
.footer-bottom{
	margin-top: 34px;
	font-family: $ft;
	p{
		max-width: 1280px;
		font-size: 12px;
		line-height: 1;
		@media (max-width: 767px) {
		line-height: 1.41;
		}
		
	}
	@media (max-width: 767px) {
	margin-top: 10px;
	}
}
.footer-mobile-content{
	display: none;
	.social-block{margin-bottom: 26px;}
	.link{color: #d6d6d6;}
	.email-link {font-size: 18px}
	@media (max-width: 767px) {
			display: flex;
			flex-direction: column;
			row-gap:22px;
		}
}
@media (max-width: 767px) { .footer-nav{display: none;}}