@use "base/var" as *;
footer.footer{
	background-color: #242526;
	padding-top: remy(50);
	padding-bottom: remy(100);
	color: rgba(121, 121, 121, .8);
	@media (max-width: 767px) {
	padding-bottom: 50px;
	}
	.footer-content{
		display: flex;
		justify-content: space-between;
		column-gap:remy(150);
		@media (max-width: 767px) {
		flex-direction: column;
		}
	}
	.footer-logo{
		.logo{margin-bottom: remy(28);}
		@media (max-width: 767px) {
			margin-bottom: 22px;
		}
			
	}
	.footer-logo .link{
		color: rgba(214, 214, 214, .8);
		font-family: $ft;
		display: block;
		width: fit-content;
		margin-bottom: remy(5);
		&:hover{color:white;}
	}
		.email-link {
			color: #a4a6a9;
		}
}
.bank-details{
	font-size: remy(12);
	line-height: 1.41;
	color: rgba(214, 214, 214, .8);
	margin-top: remy(15);
	font-family: $ft;
	@media (max-width: 767px) {
	display: none;
	}
}
// .footer-nav{
// 	display: grid;
// 	grid-template-columns: repeat(4, 1fr);
// 	column-gap: remy(52);
	
// 	@media (max-width: 767px) {
// 		column-gap: 15px;
// 	}
// }
.footer-nav{
	display: flex;
	column-gap: remy(52);
	flex:1;
	@media (max-width: 767px) {
		column-gap: 15px;
	}
}
.footer-nav .nav{
	max-width: remy(210);
	flex-shrink: 0;
	.nav-title{
		margin-bottom: remy(23);
		font-size: remy(18);
		color: #d6d6d6;
		@media (max-width: 767px) {
				font-size: 13px;
			}
	}
}
.footer-nav .nav.nav-contacts{
	margin-left: auto;
	max-width: remy(280);
	
}
.nav-contacts__mess{
	column-gap: remy(16);
	margin-bottom: remy(23);
	font-size: remy(18);
}
.footer-nav .nav-list{
	display: flex;
	flex-direction: column;
	row-gap:remy(10);
	
	.nav-item, .email-link{
		color: #797979;
		font-size: remy(18);
		transition: .3s; 
		&:hover{color: #d6d6d6;}
		@media (max-width:767px) {
			font-size: 13px;
		}
	}
	.nav-item.email-link{ color:#a4a6a9;}
}
.footer-bottom{
	margin-top: remy(34);
	font-family: $ft;
	max-width: remy(530);
	p{
		max-width: remy(1280);
		font-size: remy(12);
		line-height: 1;
		@media (max-width: 767px) {
		line-height: 1.41;
		}
		
	}
	@media (max-width: 767px) {
	margin-top: 10px;
	}
}
.footer-mobile-content{
	display: none;
	.social-block{margin-bottom: 26px;}
	.link{color: #d6d6d6; border-bottom: none;}
	.email-link {font-size: remy(18)}
	@media (max-width: 767px) {
			display: flex;
			flex-direction: column;
			row-gap:22px;
		}
}
@media (max-width: 767px) { .footer-nav{display: none;}}