@use "base/var" as *;
.header{
	position: sticky;
	top:0;
	z-index: 10;
	background-color: #131313;
	.logo{
		flex-shrink: 0;
		width: remy(159);
		aspect-ratio: 159/25;
		display: flex;
		
	}
	@media (max-width: 767px) {
	 padding-top: 16px;
	 .container{max-width: 100%;}
	}
}
.svg-logo{
	width: 100%;
	height: 100%;
	color: white;
	transition: .3s;
	&:hover{color: #A4A6A9;}
}
.header-container{
	column-gap:remy(40);
	padding-bottom: remy(20);
	padding-top: remy(20);
	border-bottom: 1px solid rgba(214, 214, 214, .4);
	.btn-outline{
		height: remy(52);
		padding-left: remy(46);
		padding-right: remy(46);
		font-weight: 700;
		&:hover{background: var(--white); color:#302F2F;}
		&:active{background: #d4deef;border-color:#d4deef; color:#282828;}
	}
	
	@media (max-width: 767px) {
		padding: 18px 20px 17px;
		column-gap:24px;
		background: #282828;
		border-radius: 17px;
		border-bottom: 0;
		justify-content: space-between;
		.btn-outline{display: none;}
	}
}
.header-container{
	display: flex;
	align-items: center;
} 
.phone-link{
	font-weight: 600;
	font-size: remy(18);
	text-align: right;
	color: #eee;
	white-space: nowrap;
	
	@media (max-width: 767px) {font-size: remy(14);}
}

.header-container .btn{
	font-family: $ft;
	background-color: transparent;
}
.header-container{
	.phone-contacts .phone-link__icon{display: none;}
	@media (max-width: 767px) {
		.phone-contacts {
			margin-left: auto;
			display: flex;
			align-items: center;
			.phone-link{font-size: 0;}
			
			
		}
	} 
}
.lock {
	@media (max-width: 767px) {
		.phone-contacts {
			.phone-link__icon{display: block;}
		}
	} 
}