@use "base/var" as *;
.header{
	
	.logo{
		flex-shrink: 0;
		width: remy(159);
		aspect-ratio: 159/25;
		
	}
	
	@media (max-width: 767px) {
		.logo{width: remy(100)}
	}
	
}
.svg-logo{
	width: 100%;
	height: 100%;
	color: white;
	transition: .3s;
	&:hover{color: #A4A6A9;}
}
.header-container{
	column-gap:remy(40);
	padding-bottom: remy(20);
	padding-top: remy(20);
	border-bottom: 1px solid rgba(214, 214, 214, .4);
	.btn-outline{
		height: remy(52);
		padding-left: remy(46);
		padding-right: remy(46);
		font-weight: 700;
	}
	
	@media (max-width: 767px) {
		padding-top: 10px;
		padding-bottom: 10px;
		.btn-outline{display: none;}
	}
}
.header-container{
	display: flex;
	align-items: center;
} 
.phone-link{
	font-weight: 600;
	font-size: remy(18);
	text-align: right;
	color: #eee;
	white-space: nowrap;
	
	@media (max-width: 767px) {font-size: remy(14);}
}
@keyframes menuItem{
	from{
		transform: scale(0);
	}
	to{transform: scale(1);}
}
.header-container .btn{
	font-family: $ft;
	background-color: transparent;
}