@use "base/var" as *;
.inner-promo{
	.promo-banner{padding: 47px 40px; margin-top: 35px;}
	
	.promo-title{width: min(1200px, 100%); margin-bottom: 120px;}
	
	@media (max-width: 767px) {
	.promo-bottom .tags-wrapper{margin-top: auto;}
	.promo-banner{padding:19px 19px 33px; margin-top: 8px;}
		.promo-title {
			margin-bottom: 0;
		}
	}
}
.inner-promo +*{
	@media (max-width: 767px) {
	padding-top: 26px!important;
	}
}