@use "base/var" as *;
.our-portfolio{
  overflow: hidden;
}
.portfolio-slider.swiper{
    width: 95%;
    max-width: 1285px;
     margin-inline: auto;
    @media (max-width: 1439px) {
      width: 80%;
    }
    @media (max-width: 1023px) {
      width: 70%;
    }

  }
  .portfolio-slider{
    padding-bottom: 40px;
  }
  .portfolio-slider .swiper-slide{
    padding-bottom: 5px;
  }
  