@use "base/var" as *;
.promo-benefits{
	margin-top: remy(21)!important;
	@media (max-width: 767px) {
		margin-top: remy(20)!important;
	}
}
.benefit-card{
	padding: remy(35);
	padding-top: remy(30);
	
	display: flex;
	flex-direction: column;
	border-radius: remy(24);
	.txt-34{font-family: var(--font-family); font-weight: 700;}
	p{font-family: var(--font-family); letter-spacing: -0.02em;}
	.svg-ten{
		width: remy(196);
		aspect-ratio:196 / 45;
	}
	&.benefit-1{
		background-image: url('../img/ten.svg');
		background-size: cover;
		background-position: center;
		font-size: remy(30);
		font-weight: 600;
		line-height: 0.9;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		color: #d6d6d6;
		justify-content: flex-end;
		align-items: flex-end;
		padding-bottom: remy(40);
		height: remy(294);
		p{margin-top: remy(24); text-transform: uppercase;font-family:var(--font-family);}
		
	    @media (max-width: 767px) {
			font-size: remy(22);
			.svg-ten{width: remy(142);}
			p{margin-top: remy(14);}
		}
		
		
	}
	&.benefit-2{
		font-size: remy(40);
		font-weight: 800;
		color: white;
		line-height: 1;
		font-size: remy(34);
		background-image: url('../img/map-bg.svg');
		padding-left: remy(46);
    	padding-top: remy(26);
		span{
			color: #525151;
		}
		
		@media (max-width: 767px){font-size:remy(28);}
		
	}
	&.benefit-3{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		row-gap:remy(32);
		background-color: #282828;
		font-size: remy(18);
		font-weight: 400;
		line-height: 1.2;
		color: rgba(249, 249, 249, .75);
		.txt-semi{
			color: rgba(249, 249, 249, 1);
			position: relative;
			top:-10px;
		}
		
		img{
			width: remy(195);
			margin-left: auto;
			margin-right: auto;
			
			@media (max-width: 767px) {width: remy(105);}
			
		}
		.btn-grey{
			font-family: var(--second-family);
			font-weight: 700;
			font-size:remy(20);
			text-align: center;
			color: #f9f9f9;
		}
		
		@media (max-width: 767px) {
			padding-block:remy(20);
			.btn-grey{font-size: remy(12);}
		}
		
	}
	&.benefit-4{
		width: 100%;
		height: 100%;
		position: relative;
		
		img{
			width: remy(360);
			
			aspect-ratio: 1;
			object-fit: contain;
			position: absolute;
			top: -27%;
    		left: remy(24);
			
			@media (max-width: 767px) {
			position: relative;
			inset: auto;
			width: 100%;
			}	
				
				
			
		}
	}
	&.benefit-5{
		font-size: remy(18);
		padding-bottom: 40px;
		 display: flex;
		 flex-direction: column;
		 row-gap:remy(16);
		background-color: #282828;
		position: relative;
		padding-right: remy(41);
		height: remy(294);
		p:not(.txt-34){font-size: remy(17);	line-height: 1.2; font-family: var(--second-family);}
		.benefit-card__link{
			position: absolute;
			bottom: remy(30);
			right: remy(33);
			width: remy(61);
			display: inline-block;
		}
		
	}
	
}

.promo-benefits-grid{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	
	grid-column-gap: remy(20);
	grid-row-gap: remy(20);
	
	
	
	@media (max-width: 767px) {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, minmax(remy(170), auto)) auto;
		grid-column-gap: remy(10);
		grid-row-gap:remy(10);
	}
}


.benefit-card.benefit-1 { grid-area: 1 / 1 / 2 / 2; }
.benefit-card.benefit-2 { 
	grid-area: 2 / 1 / 3 / 2; 
	
}
.benefit-card.benefit-3 {
	grid-area: 1 / 2 / 3 / 3; 
	
}
.benefit-card.benefit-4 {
	 grid-area: 1 / 3 / 2 / 4; 
	
}
.benefit-card.benefit-5 {
	 grid-area: 1 / 4 / 2 / 5; 
	
}
.benefit-card.benefit-slider {
	 grid-area: 2 / 3 / 3 / 5; 
	 padding-right: remy(4);
	 
}

@media (max-width: 767px) {
	
	.benefit-card.benefit-4 { grid-area: 3 / 1 / 4 / 2; }
	.benefit-card.benefit-5  { grid-area: 3 / 2 / 4 / 3; }
	.benefit-card.benefit-slider { grid-area: 4 / 1 / 5 / 3; }
}
.benefit-card.benefit-slider{
	background-color: #282828;
	flex-direction:row;
	padding-bottom: remy(22);
	padding-top: remy(19);
	padding-right: remy(4);
	padding-left: remy(20);
	gap:remy(30);
	min-height: remy(305);
	.benefit-card__col{
		display: flex;
		flex-direction: column;
		
		.txt-34{width: 100%; font-weight: 900; margin-bottom: remy(5); padding-left: remy(10);}
		
	}
	.result-slider{
		width: remy(550);
		flex-grow: 1;
		flex-shrink:0;
		background-size:cover;
		background-repeat: no-repeat;
		.swiper-slide{
			display: flex;
			align-items: center;background-color: #282828;
		}
		
		.chart-card{	
			background: url(../img/result-slider/chart-bg.webp);
			background-position: left bottom;
			background-repeat: no-repeat;
			padding-left: remy(42);
			padding-bottom: remy(16);
			height: remy(190);
			
			img{
				height: remy(174);
				object-position: bottom;
			}
			
		}
		
	}
	
	.result-company-slider{
		flex-grow:1;
		margin-top: remy(12);
		position: relative;
		padding-left:remy(25);
		border-left: 1px solid #888;
		position: relative;
		
		.company-card{
			position: absolute;
			inset:0;
			bottom: remy(20);
			left:remy(25);
			left:0;
			font-size: remy(12);
			color: #888;
			font-family: var(--second-family);
			p{
				margin-bottom: remy(7);
				font-family: var(--second-family);
				letter-spacing: -0.02em;
				
			}
			@media (max-width: 767px) {
				font-size: remy(10);
			}
		}
		.result-status{
			display: flex;
			font-size: 10px;
			line-height: 100%;
			letter-spacing: -0.02em;
			color: #d6d6d6;
			column-gap:remy(30);
			margin-top: remy(20);
			span{width: remy(10); height: remy(10); border-radius: 50%; flex-shrink: 0; background-color: #848282;}
			&__old, &__new{
				display: flex;
				align-items: center; column-gap:remy(4);
			}
			&__new span{background-color: #f98836;}
		}
		.company-logo{
            margin-bottom: remy(10);
			min-height: remy(70);
			
		}
		
	}
	
}
.result-company-nav{
	justify-content: space-between;
	position: absolute;
	left: remy(25);
	right: remy(25);
	bottom: remy(24);
	z-index: 3;
	svg{color: white;}
	.result-company-prev,.result-company-next{
		width: remy(51);
		height: remy(29);
		padding: remy(7) remy(17) remy(6);
		border-radius: 19px;
		border: 1px solid #3C3D3D;
		transition: .1s; 
		cursor:pointer;
		svg{
			width: remy(17);
			height: remy(13);
			transition: .1s; 
			color: #3C3D3D;
		}
		&:hover{
			border: 1px solid #d4deef;
			svg{color:#D4DEEF;}
			
		}
		&.swiper-button-disabled{opacity: .5; pointer-events: none;}
	}
}
.result-company-pagination.swiper-pagination{
	bottom: remy(-5);
}