@use "base/var" as *;
.our-portfolio{
  overflow: hidden;
}
.portfolio-slider.swiper{
    width: 95%;
    max-width: remy(1285);
     margin-inline: auto;
    @media (max-width: 1439px) {
      width: 80%;
    }
    @media (max-width: 1023px) {
      width: 70%;
    }

  }
  .portfolio-slider{
    padding-bottom: remy(40);
  }
  .portfolio-slider .swiper-slide{
    padding-bottom: remy(5);
  }
  