@use "base/var" as *;
.our-mission-title{
	padding-left: 16px;
	padding-right: 16px;
	width: fit-content;
	max-width: remy(1394);
	text-align: center;
	margin-inline: auto;
	position: relative;
	display: flex;
	height: remy(800);
	   justify-content: center;
	   align-items: center;
	@media (max-width: 767px) {
	   height: 510px;
	   
	}
}
.search-decore{
	position: absolute;
	top: 38%;
	transform: translateY(-50%);
	left: 42%;
	width: remy(258);
	aspect-ratio: 258/221;
	&:before{
		width: remy(106);
		width: 41%;
		aspect-ratio: 1/1;
		border-radius: 50%;
		display: block;
		content:'';
		background-color: rgba(40, 40, 40, 0.1);
		backdrop-filter: blur(3px);
		position: absolute;
		top: 16%;
		left: 43%;
	}
	.big-title{font-weight: 800;}
	@media (max-width:767px) {
		width: 35%;
		top: 50%;
		.big-title{font-weight: 700;}
	}
	
}
