@use "base/var" as *;
.our-clients .title{
	
	max-width: remy(880);
}
.clients-swiper{
	.swiper-wrapper{
		@media(min-width:768px){
			display: grid;
			gap: remy(20) remy(20);
			grid-template-columns: repeat(6, 1fr);
			.swiper-slide{grid-column: span 1;}
		}
		
		@media (max-width: 767px) {
			.swiper-slide{
				width: 170px!important;
				height: 124px!important;
				.client-card{width: 100%;height: 100%;}
			  }
			
		}
	}
	@media (max-width: 767px) {height: 450px;}
}
.client-card{
	
	height: remy(186);
	width: 100%;
	flex-shrink: 0;border-radius: 26px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	img{
		object-fit: cover;
		flex-shrink: 0;
	}
	.img-mono{display: block;}
	.img-color{display: none;}
}
.client-card:hover{
	.img-color{display: block;}
	.img-mono{display: none;}
}