@use "base/var" as *;
.seo-benefits{
	overflow: hidden;
	
}
// .seo-benefits .container{
// 	background-image: url('../img/vector/orange-bg.svg');
// 	background-size: 970px;
// }
.parallax-seo__bg{
	
	display: flex;
	justify-content: center;
	@media (max-width: 767px) {
		height: 570px;
		width: 100%;
		max-width: 360px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		&:after{
			content: "";
			position: absolute;
			width: 970px;
			left: 50%;
			-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			transform: translateX(-50%);
			background-image: url(../img/vector/orange-bg.svg);
			height: 700px;
			background-position: top center;
			background-size: 700px;
			background-repeat: no-repeat;
		}
		
	}
}
.parallax-seo__map{
	position: relative;
	width: 100%;
	height: remy(780);
	// max-height: 1000px;
	// margin-top: -10vw;
	.title{
		position: absolute;
		top: 0;
		left: 0;
		
	}
	@media (max-width: 767px) {
		height: 570px;
		.title{position: relative;}
	   
	   }
}
.parallax-scene__center{
	position: absolute;
	top: 63%;left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	 @media (max-width: 767px) {
		font-size: 60px;
		top: 50%;left: 52%;
	 }
}
.parallax-scene{
	position: absolute;
	inset:0;
	z-index: 2;
	@media (max-width: 767px) {
		width: 360px;
		left: 50%;
		transform: translateX(-50%);
	}
}
.parallax-item{
	display: flex;
	align-items: center;
	font-weight: 700;
	font-size: remy(18);
	line-height: 120%;
	color: var(--white);
	column-gap: remy(16);
	position: absolute;
	
	img{
		width: remy(24);
		height: remy(24);flex-shrink: 0;object-fit:contain;	}
	@media (max-width: 767px) {
	 font-size: 10px;
	 column-gap: 10px;
	 img{width: 12px;height: 12px;}
	}
}
.parallax-item{
	&.prx-1{
		top: 221px;
		left: 269px;
	}
	&.prx-2{
		top: 326px;
		left: 77px;
	}
	&.prx-3{
		top: 345px;
		left: 451px;
	}
	&.prx-4{
		top: 461px;
		left: 250px;
	}
	&.prx-5{
		top: 614px;
		left: 96px;
	}
	&.prx-6{
		top: 576px;
		left: 441px;
	}
	&.prx-7{
		bottom: 36px;
		left: 326px;
	}
	&.prx-21{
		top: 240px;
		right: 267px;
	}
	&.prx-22{
		top: 346px;
		right: 528px;
	}
	&.prx-23{
		top: 365px;
		right: 173px;
	}
	&.prx-24{
		top: 480px;
		right: 346px;
	}
	&.prx-25{
		top: 634px;
		right: 442px;
	}
	&.prx-26{
		top: 595px;
		right:115px;
	}
	&.prx-27{
		bottom: 22px;
		right: 211px;
	}
}
@media (max-width: 1919px) {
	.parallax-item{
		&.prx-1{
			top: 11.5vw;
			left: 14vw;
		}
		&.prx-2{
			top: 17vw;
			left: 4vw;
		}
		&.prx-3{
			top: 18vw;
			left: 23.5vw;
		}
		&.prx-4{
			top: 24vw;
			left: 13vw;
		}
		&.prx-5{
			top: 32vw;
			left: 5vw;
		}
		&.prx-6{
			top: 30vw;
			left: 23vw;
		}
		&.prx-7{
			bottom: 1.875vw;
			left: 17vw;
		}
		&.prx-21{
			top: 12.5vw;
			right: 14vw;
		}
		&.prx-22{
			top: 18vw;
			right: 27.5vw;
		}
		&.prx-23{
			top: 19vw;
			right: 9vw;
		}
		&.prx-24{
			top: 25vw;
			right: 18vw;
		}
		&.prx-25{
			top: 33vw;
			right: 23vw;
		}
		&.prx-26{
			top: 31vw;
			right: 6vw;
		}
		&.prx-27{
			bottom: 1.145vw;
			right: 11vw;
		}
	}
}
@media (max-width: 767px) {
	.parallax-item{
		&.prx-1{
			top: 107px;
			left: 37%;
		}
		&.prx-2{
			top: 149px;
			left: 5px;
		}
		&.prx-3{
			top: 150px;
			left: auto;
			right: 41px;
		}
		&.prx-4{
			top: 181px;
           left: 39%;
		}
		&.prx-5{
			top: 220px;
			left: 25px;
			
		}
		&.prx-6{
			top: 39%;
            left: 74%;
		}
		&.prx-7{
			bottom: 26%;
			left: 61%;
		}
		&.prx-21{
			top: 60%;
			right: 1%;
		}
		&.prx-22{
			top: 49%;
            right: 76%;
		}
		&.prx-23{
			top: 49%;
			right: 4%;
		}
		&.prx-24{
			top: 60%;
            right: 75%;
		}
		&.prx-25{
			top: 80%;
			right: 30%;
		}
		&.prx-26{
			top: 72%;
			right: 59%;
		}
		&.prx-27{
			bottom: 34%;
            right: 34%;
		}
	}
}
.seo-benefits-cards{
	margin-top: remy(60);
	@media (max-width: 767px) {
		margin-top: -18px;
	}
}
.seo-cards-grid{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	gap:remy(32);
	@media (max-width: 767px) {
		display: none;
	}
}
.seo-cards-swiper{
	display: none;
	.swiper-slide{
		height: unset;
		display: flex;
		width: 356px!important;
	}
	@media (max-width: 767px) {
		display: block;
		.swiper-pagination{
			position: relative;
			display: flex;
			justify-content: center;
			margin-top: 32px;
		}
	}
}
.parallax-scene__sector1,
.parallax-scene__sector2,
.parallax-scene__sector3,
.parallax-scene__sector4,
.parallax-scene__sector5{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 20%;
	z-index: 3;
	
}
.parallax-scene__sector1{left: 0;}
.parallax-scene__sector2{left: 20.1%;}
.parallax-scene__sector3{left: 40.1%;}
.parallax-scene__sector4{left: 60.1%;}
.parallax-scene__sector5{left: 80.1%;}

.parallax-item img,
.parallax-item p,
.parallax-scene__center {
  transition: transform 0.5s ease;
}