@use "base/var" as *;
.promo.promo--seo{
	background-position: right;
	background-size: cover;
	background-repeat: no-repeat;
	.promo-banner{
		margin-top: remy(55);
		padding-top: remy(50);
		padding-bottom: remy(55);
		row-gap:remy(110);
		
	}
	
	.promo-title{
		width: min(1180px, 100%);
		margin-bottom: 0;
		display: flex;
		flex-direction: column;
		row-gap:50px;
		
	}
	
	h1{margin-bottom: 0;}
	.subtitle{
		max-width:remy(670);
		font-size: remy(28);
		line-height: 1.17;
		margin-bottom: 0;
		letter-spacing: -0.02em;
		color: #d6d6d6;
		
		@media (max-width: 767px) {
			font-size: 15px;
		}
	}
	
}

 @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .promo.promo--seo .promo-banner{
        background-image: url(./../img/seo-promo@2x.webp);
    }
}

.promo-banner.flex{
	flex-wrap: wrap;
	
}