@use "base/var" as *;
.promo.promo-inner{
	.promo-banner{

		margin-top: remy(55);
		padding-top: remy(50);
		padding-bottom: remy(55);
		row-gap:remy(110);
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		background-position: right;
		background-size: cover;
		background-repeat: no-repeat;
		min-height: remy(623);
		@media (max-width: 767px) {
			padding: 21px 13px 24px 14px;
			margin-top: 16px;
			
			min-height: 560px;
			.promo-button {width: 100%;max-width: 330px; display: flex; justify-content: center;}
			.promo-button [class^="btn-"]{
				padding-left: 22px;
				padding-right: 22px; 
				height: 50px; 
				font-size: 20px; 
				width: fit-content;
			}
		}
	}
	.promo-title{
		width: min(1180px, 100%);
		margin-bottom: 0;
		display: flex;
		flex-direction: column;
		row-gap:50px;
		@media (max-width: 767px) {
			row-gap:22px;
			max-width: 330px;
		}
	}
	
	h1{margin-bottom: 0;}
	.subtitle{
		max-width:remy(670);
		font-size: remy(28);
		line-height: 1.17;
		margin-bottom: 0;
		letter-spacing: -0.02em;
		color: #d6d6d6;
		span{color: #fff;}
		@media (max-width: 767px) {
			font-size: 18px;
			color: #e7e7e7;
			line-height: 1.2;
			span{font-weight: 400!important; color: #e7e7e7!important;}
		}
	}	
}
.promo.promo--seo{
	
	.promo-banner{
		
		background-image: -webkit-image-set(
			url(../img/seo-promo.webp) 1x,
			url(../img/seo-promo@2x.webp) 2x
		);
		background-image: image-set(
			url(../img/seo-promo.webp) 1x,
			url(../img/seo-promo@2x.webp) 2x
		);
		
		@media (max-width: 767px) {
			
			background-image: -webkit-image-set(
				url(../img/seo-promo-mob.webp) 1x,
				url(../img/seo-promo-mob@2x.webp) 2x
			);
			background-image: image-set(
				url(../img/seo-promo-mob.webp) 1x,
				url(../img/seo-promo-mob@2x.webp) 2x
			);
			
		}
		
	}
}
