@use "base/var" as *;
.quiz-form{
	
	position: relative;
	min-height: remy(470);
	
	&__plate {
        
		padding: remy(35);
		padding-bottom: remy(40);
		border-radius: remy(24);
        background: #2b2c2e;
        min-height: remy(470);
        display: flex;
        flex-direction: column;
		box-shadow: 7px 7px 16px 0 rgba(24, 24, 24, 0.45),
            -7px -7px 16px 0 rgba(24, 24, 24, 0.45);
        z-index: 1;
        opacity:0;
        
		display: none;
        
        &.active {
            display: flex;
			animation-name: scaleShow;
			animation-duration: .3s;
			animation-fill-mode: forwards;
        }

        &.done {
            display: none;
			animation-name: scaleReview;
			animation-duration: .3s;
			animation-fill-mode: forwards;
        }
		@media (max-width: 767px) {
			padding: 30px 16px;
			min-height: unset;
			}
    }
	.title{
		color: #d6d6d6;
		font-size:remy(60);
		@media (max-width: 767px) {
		  font-size: 28px;
		  font-weight: 800;
		}
		
	}
	.title-32{
		color:  #4d4e4f;
		
	}
	&__body{
		padding-top: remy(30);
		padding-bottom: remy(30);
		flex-grow: 1;
		width: min(remy(1076), 100%);
	}
	&__group{
		display: flex;
		flex-wrap: wrap;
		column-gap: remy(20);
		row-gap:remy(27);
		@media (max-width: 767px) {
			column-gap: 7px;
		    row-gap:14px;
		}
	}
	&__group + &__group{margin-top: remy(27);}
	&__footer{
	 display: flex;
	 justify-content: space-between;
	 column-gap:remy(16);
	 &>*{flex-shrink: 0;}
	 .btn-next{margin-left: auto;
	 }
	 @media (max-width: 767px) {
		.btn-next, .btn-prev, .btn-blue{
			font-size: 14px;
			padding-left: 16px;
			padding-right: 16px;
		}
		
		
	 }
	}
	.form-textarea{
		flex-grow: 1;
	}
	&__group.flex{
		column-gap:8%;
		max-width: 1100px;
		@media (max-width: 767px) {
			flex-direction: column;
			.form-textarea{width:100%;}
			row-gap: 32px;
			
		}
	}
	&__grid{
		display: flex;
		flex-wrap: wrap;
		max-width: remy(1100);
		gap: remy(30);
		column-gap: remy(54);
	    .form-item{
			width: calc((100% - remy(54)) / 2);
		}
		@media (max-width: 767px) {
			gap: 24px;
			font-size: 16px;;
			
			.form-item{
				width: 100%;
			}
		}

	}
	@media (max-width: 767px) {min-height: 360px;}
	
}
*.hide-block{display: none!important;}


@keyframes scaleShow{
	to{
		opacity:1;
		z-index: 2;
	}
}
@keyframes scaleReview{
	to{
		opacity:0; 
       z-index: 1;
	}
}
.custom-radio{
	display: inline-block;
	font-family: var(--second-family);
	font-weight: 700;
	font-size: remy(18);
	color: #c6d0df;
	height: 3.5555em;
	line-height: 3.5555em;
	padding-inline: 1.8em;
	border-radius: remy(50);
	transition: .3s; 
	text-align: center;
	white-space: nowrap;
	background-color: rgba(77, 78, 79, .7);
	
	@media (max-width: 767px) {
		font-size: 14px;
	}
}
input:checked + .custom-radio{
	color: #242526;
	background-color: #d4deef;;
}