@use "base/var" as *;
.review{
	overflow: hidden;
	@media (max-width: 767px) {
	.review-swiper-next, .review-swiper-prev{display: none;}
	}
}
.review-swiper{
	padding-bottom: remy(60);
	@media (max-width: 767px) {
		max-width: 250px!important;
	    padding-bottom: 40px;
		
	}
}
.review-card{
	border: 1px solid #c2c6cb;
	background-color: #282828;;
    padding: remy(22) remy(25);
	display: flex;
	flex-direction: column;
	row-gap:remy(30);
	border-radius: remy(12);
	img{width: 100%; object-fit: contain;}
	.brand-logo{
		height: remy(30);
		width: 100%;
		object-fit: contain;
	}
	
	
}
.lb-data .lb-close {
	position: absolute;
    top: remy(-30);
    right:remy(60); 
    bottom: auto; 
    left: auto;
	@media (max-width: 1023px) {
	right: 17px;
	top: -27px;
	}
}