@use "base/var" as *;
.what-seo{
	padding-top: remy(32);
	padding-bottom: remy(29);
	@media (max-width: 767px) {
	padding-top: 0;
	padding-bottom: 0;
	}
}
.what-seo__content{
	display: flex;
	position: relative;
	align-items:flex-end;
	column-gap: remy(85);
	@media (max-width: 767px) {
	 flex-wrap:wrap;
	 &>*{width: 100%;}
	}
}
.what-seo__text{
	width: 38.54vw;
	max-width: 740px;
	
	
	p{
		font-weight: 400;
		font-size: remy(28);
		line-height: 117%;
		letter-spacing: -0.02em;
		color: var(--white);
		font-family: var(--second-family);
	}
	p +p{margin-top: 1.2em;}
	@media (max-width: 767px) {
	   width: 100%;
	   p{font-size: 14px;}
	}
}
.what-seo-swiper{
	height: remy(408);
	@media (max-width: 767px) {
	  height: 207px;
	}
}
.what-seo-swiper-box{
	width: 37vw;
	max-width: 710px;
	flex-shrink: 0;
	position: relative;
	&:after{
		content:'';
		width: 100%;
		height: remy(510);
		background-image: url('../img/vert-slider.webp');
		background-position: top;
		background-size: contain;
		position: absolute;
		bottom:0;
		background-repeat: no-repeat;

	}
	@media (max-width: 767px) {
		width: 100%;
		padding-top:90px;
		&:after{height: remy(260);}
	}
}
.what-seo-swiper .seo-card{
	display: flex;
	column-gap: remy(36);
	align-items: center;
	padding: remy(40);
	border-radius: remy(20);
	border:1px solid #C2C6CB;
	background-color: var(--back-2);
	height: remy(408);
	position: relative;
	
	&__title{
		font-family: var(--font-family);
		font-weight: 800;
		font-size: remy(40);
		color: #d6d6d6;
		
	}
	p{
		font-weight: 600;
		font-size: remy(24);
		line-height: 120%;
		letter-spacing: -0.02em;
		color: #898f99;
		font-family: var(--second-family);
		margin-top: 1em;
	}
	&__num{
		font-family: var(--font-family);
		font-weight: 700;
		font-size: remy(34);
		line-height: 100%;
		text-align: right;
		color: #4d4e4f;
		position: absolute;
		bottom: remy(40);
		right: remy(40);
	}
	@media (max-width: 767px) {
	  padding: 30px;
	  padding-right: 12px;
	  column-gap: 27px;
	  height: 207px;
	  width: 358px;

	  &__title{font-size: 20px;}
	  p{font-size: 12px;}
	  &__num{
		bottom: remy(17);
		right: remy(17);
		font-size: 18px;
	  }
	}
}
.what-seo-swiper .seo-card__img{
	width: remy(254);
	flex-shrink: 0;
	@media (max-width: 767px) {
	   width: 130px;
	   height: 130px;
	   img{
		width: 100%;
		height: 100%;
		object-fit: contain;
	   }
	}	
}

.what-seo-pagination.swiper-pagination {
	right: 0;
	bottom: 0;
	top:0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	row-gap: remy(16);
	transform: unset;
	.swiper-pagination-bullet{
		width: 10px;
		height: 117px;
		margin: 0;
		&:after{
			background:rgba(255,255,255,.4);
			height: 100%;
			width: 3px;
		}
	}
	.swiper-pagination-bullet.swiper-pagination-bullet-active:after{background:rgba(255,255,255,1);}
	@media (max-width: 767px) {
	display: none;
	}
}
