section.feedback
	
	.container
		h2.title.title-white.txt-center Оставьте заявку<br>на реализацию вашей мечты&nbsp;🔥
		.modal-frame-content
			.modal-title Оставьте заявку
			.modal-subtitle Мы подготовим предложение и поможем определиться с выбором услуг
			.modal-frame-form
				// ===== FORM =====
				form.modal-form.grid-form(action method='method')
					.form-item
						input.form-input(type='text' placeholder='Имя')
						span.form-input-state
					.form-item
						input.form-input.phone(type='tel' placeholder='+7 (     )')
						span.form-input-state
					.form-item
						input.form-input.phone(type='email' placeholder='Email')
						span.form-input-state
					// ==== инпут загрузки файла с компьютера====
					.fileUpload-group
						label.fileUpload-label.round-btn
							input.form-input.fileUploadInput(type='file')
							span.fileUpload-name.round-btn__name Добавить файл
							span.form-input-state
						p.fileUpload-limit *Файл должен быть не более 10 мб
					
					// ===== btn-group =====
					.form-btn-group
						button.btn-primary(type='submit')
							span Отправить заявку
						p.accept-terms
							| Нажав на кнопку, соглашаюсь на обработку 
							a(href='#!') персональных данных
			// ====SUCCESS MESSAGE=====
			.modal-success
				p Сообщение успешно отправлено!|
				p Скоро с вами свяжуться наши специалисты 🤍
