footer.footer
	.container
		.footer-content
			.footer-logo
				a(href="index.html").logo
					svg.svg-footer-logo
						use(href='./img/footer-logo.svg#svg-footer-logo')
				.visible-1200
					a(href="#!").link Политика конфиденциальности
					a(href="#!").link Публичная оферта
				.bank-details
					p © 2019–2024 SAVOVИНН 
					p 781713009343ОГРНИП 
					p 319784700168929
			//===footer nav ===
			.footer-nav
				.nav
					.nav-title Реклама
					nav.nav-list
						a.nav-item(href="#!") Услуги 
						a.nav-item(href="#!") Эксперты 
						a.nav-item(href="#!") Опыт в нишах
						a.nav-item(href="#!") Опыт в нишах
						 
				.nav
					.nav-title Дизаин
					nav.nav-list
						a.nav-item(href="#!") Услуги 
						a.nav-item(href="#!") Эксперты 
						a.nav-item(href="#!") Опыт в нишах 
						a(href="#!") 
				
				.nav
					.nav-title Команда
					nav.nav-list
						a.nav-item(href="#!") Эксперты 
						a.nav-item(href="") Делимся опытом
						a.nav-item(href="") Вакансии
						
				
				.nav
					.nav-title Контакты
					nav.nav-list
						a(href="").email-link info@savov.ru
						a(href="").icon-link.nav-item
							img(src="./img/phone.webp", loading="lazy" alt="")
							span 8 (900) 656- 69-03
						a(href="").icon-link.nav-item
							img(src="./img/whatsapp.webp",loading="lazy" alt="") 
							span 8 (900) 656- 69-03
						a(href="").icon-link.nav-item
							img(src="./img/telegram.webp", loading="lazy" alt="")
							span @savov
						a(href="").icon-link.nav-item
							img(src="./img/youtube.webp",loading="lazy"  alt="")
							span @savov
			
			//===visible mobile ===
			.footer-mobile-content
				.social-block.flex
					a(href="")
						img(src="./img/phone.webp", loading="lazy" alt="")
					a(href="")
						img(src="./img/whatsapp.webp", loading="lazy" alt="") 
					a(href="")
						img(src="./img/telegram.webp", loading="lazy" alt="")
					a(href="")
						img(src="./img/youtube.webp", loading="lazy" alt="")
				
				a(href="mailto:info@savov.ru").email-link info@savov.ru
				a(href="#!").link Политика конфиденциальности
		
		.footer-bottom
			p Использование материалов с данного сайта разрешено только по согласию с владельцем. Владелец оставляет за собой право воспользоваться 146 статьей УК РФ при нарушении авторских и смежных прав. Вся предоставленная на сайте информация ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 (2) Гражданского кодекса РФ.