section.geo
	.container
		.flex-header
			h2.title Клиенты
			p.title-52 Наша география 
		.geo-map
			img.wh-100(src="./img/geo.webp", width="1630" height="800" alt="alt")
			
			//==== RUSSIA ====
			.country-box.country-russia
				p.country-name  Russian Federation
				
				svg.svg-russia
					use(href='./img/sprite.svg#svg-russia')
				
				p.city-one Petersburg
				p.city-two Moscow
				p.city-three Kazan
				p.city-four Rostov
				p.city-five Krasnodar
				p.city-six Ufa
				p.city-seven Ekaterinburg
				p.city-eight Chelyabinsk
				p.city-nine Omsk
				p.city-ten Krasnoyarsk
				p.city-eleven Novosibirsk
				p.city-twelve Yakutsk
				p.city-thirteen Vladivostok
				p.city-fourteen Kamchatka

			//==== Belarus ====
			.country-box.country-belarus
				p.country-name  Belarus
				svg.svg-belarus
					use(href='./img/sprite.svg#svg-belarus')
				p.city-one Minsk
			
			//==== CHINA ====
			.country-box.country-china
				p.country-name  China
				svg.svg-china
					use(href='./img/sprite.svg#svg-china')
				
				p.city-two Begin
				p.city-one Shanghai
			
			//==== ARABIA ====
			.country-box.country-arabia
				p.country-name  Saudi Arabia
				svg.svg-arabia
					use(href='./img/sprite.svg#svg-arabia')
				
				p.city-one Riyadh
			
			//==== ITALY ====
			.country-box.country-italy
				p.country-name  Italy
				svg.svg-italy
					use(href='./img/sprite.svg#svg-italy')
				
				p.city-one Roma
			
			//==== USA ====
			.country-box.country-usa
				p.country-name  USA
				svg.svg-usa
					use(href='./img/sprite.svg#svg-usa')
				
				p.city-one Denver
				p.city-two Salt Lake City
				p.city-three Las Vegas
			
			//==== latvia ====
			.country-box.country-latvia
				p.country-name  Latvia
				svg.svg-latvia
					use(href='./img/sprite.svg#svg-latvia')
				p.city-one Riga
				
			//==== Kazakhstan ====
			.country-box.country-kazakhstan
				p.country-name  Kazakhstan
				svg.svg-kazakhstan
					use(href='./img/sprite.svg#svg-kazakhstan')
				p.city-one Astana
			

			//===== info-block===
			.geo-text
				.h2 Наша география, готовы вам помочь независимо где вы находитесь 
				p Контекст может похвастаться наиболее быстрыми результатами уже в первые 