.our-mission-title
	h2.big-title Наша миссия &nbsp;это первые позиции вашего сайта в поисковой выдаче
	.search-decore
		img(src="./img/search-icon.svg", loading="lazy" width="258" height="221" alt="icon") 