section.our-clients
	.container
		h2.title Клиенты которые работают с нами
		.clients-swiper.swiper
			.swiper-wrapper
				.swiper-slide
					.client-card
						img(src="./img/clients/pilki.svg", loading="lazy" data-src="./img/clients/pilki-hover.svg" width="180" height="57" alt="alt")
				.swiper-slide
					.client-card
						img(src="./img/clients/bassein.svg", loading="lazy" data-src="./img/clients/bassein-hover.svg" width="218" height="49" alt="alt")
				.swiper-slide
					.client-card
						img(src="./img/clients/tvc.svg", loading="lazy"  data-src="./img/clients/tvc-hover.svg" width="210" height="45" alt="alt")
				.swiper-slide
					.client-card
						img(src="./img/clients/novo.svg", loading="lazy" data-src="./img/clients/novo-hover.svg" width="235" height="40" alt="alt")
				.swiper-slide
					.client-card
						img(src="./img/clients/metiz.svg", loading="lazy"  data-src="./img/clients/metiz-hover.svg" width="218" height="34" alt="alt")
				.swiper-slide
					.client-card
						img(src="./img/clients/flex.svg", loading="lazy" data-src="./img/clients/flex-hover.svg" width="223" height="47" alt="alt")
				.swiper-slide
					.client-card
						img(src="./img/clients/baza.svg", loading="lazy" data-src="./img/clients/baza-hover.svg" width="200" height="118" alt="alt")
				.swiper-slide
					.client-card
						img(src="./img/clients/more.svg", loading="lazy" data-src="./img/clients/more-hover.svg" width="200" height="69" alt="alt")
				.swiper-slide
					.client-card
						img(src="./img/clients/odeval.svg",loading="lazy"  data-src="./img/clients/odeval-hover.svg" width="280" height="87" alt="alt")
				.swiper-slide
					.client-card
						img(src="./img/clients/mrt.svg", loading="lazy" data-src="./img/clients/mrt-hover.svg" width="165" height="44" alt="alt")
				.swiper-slide
					.client-card
						img(src="./img/clients/center.svg", loading="lazy"  data-src="./img/clients/center-hover.svg" width="231" height="51" alt="alt")
				.swiper-slide
					.client-card
						img(src="./img/clients/eco.svg", loading="lazy" data-src="./img/clients/eco-hover.svg" width="163" height="106" alt="alt")
				.swiper-slide
					.client-card
						img(src="./img/clients/dom.svg", loading="lazy" data-src="./img/clients/dom-hover.svg" width="137" height="92" alt="alt")
				.swiper-slide
					.client-card
						img(src="./img/clients/formula.svg", loading="lazy" data-src="./img/clients/formula-hover.svg" width="216" height="48" alt="alt")
				.swiper-slide
					.client-card
						img(src="./img/clients/sleep.svg", loading="lazy" data-src="./img/clients/sleep-hover.svg" width="234" height="59" alt="alt")
			
			//==pagination ===
			.clients-pagination.swiper-pagination