mixin client-card(img1, img2)
	.swiper-slide
		.client-card
			img.img-mono(src="./img/clients/"+ img1+".webp", srcset="./img/clients/"+ img1+"@2x.webp"  width="256" height="186" alt="alt")
			img.img-color(src="./img/clients/"+ img2+".webp", srcset="./img/clients/"+ img2+"@2x.webp" width="256" height="186" alt="alt")
//CLIENTS
section.our-clients
	.container
		h2.title Клиенты которые работают с нами
		.clients-swiper.swiper
			.swiper-wrapper
				+client-card(1, 21)
				+client-card(2, 22)
				+client-card(3, 23)
				+client-card(4, 24)
				+client-card(5, 25)
				+client-card(6, 26)
				+client-card(7, 27)
				+client-card(8, 28)
				+client-card(9, 29)
				+client-card(10, 30)
				+client-card(11, 31)
				+client-card(12, 32)
				+client-card(14, 33)
				+client-card(15, 34)
				+client-card(16, 35)
				+client-card(17, 36)
				+client-card(18, 37)
				+client-card(19, 38)
			
			//==pagination ===
			.clients-pagination.swiper-pagination