section.parallax-seo
	.container
		.parallax-seo-grid
			.parallax-seo__map
				h2.big-title Преимущества SEO - продвижения
				.parallax-seo__bg
					img(src='./img/vector/orange-bg.svg', width='1843' height='1083' loading='lazy' alt='img')
					//- svg(width='1843' height='1083' viewBox='0 0 1843 1083' fill='none' xmlns='http://www.w3.org/2000/svg')
					//- 	g(filter='url(#filter0_f_5412_7749)')
					//- 		ellipse(cx='921.5' cy='541.5' rx='557.5' ry='177.5' fill='#F98836')
					//- 	g(filter='url(#filter1_f_5412_7749)')
					//- 		ellipse(cx='921.5' cy='541' rx='387.5' ry='123' fill='#F98836')
					//- 	g(filter='url(#filter2_f_5412_7749)')
					//- 		ellipse(cx='921.5' cy='541' rx='232.5' ry='74' fill='#FFE8D6')
					//- 	defs
					//- 		filter#filter0_f_5412_7749(x='0' y='0' width='1843' height='1083' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
					//- 			feFlood(flood-opacity='0' result='BackgroundImageFix')
					//- 			feBlend(mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape')
					//- 			feGaussianBlur(stdDeviation='182' result='effect1_foregroundBlur_5412_7749')
					//- 		filter#filter1_f_5412_7749(x='384' y='268' width='1075' height='546' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
					//- 			feFlood(flood-opacity='0' result='BackgroundImageFix')
					//- 			feBlend(mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape')
					//- 			feGaussianBlur(stdDeviation='75' result='effect1_foregroundBlur_5412_7749')
					//- 		filter#filter2_f_5412_7749(x='539' y='317' width='765' height='448' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
					//- 			feFlood(flood-opacity='0' result='BackgroundImageFix')
					//- 			feBlend(mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape')
					//- 			feGaussianBlur(stdDeviation='75' result='effect1_foregroundBlur_5412_7749')
				.parallax-scene
					.parallax-scene__center.h1 SEO
					.parallax-item.prx-1
						img(src='./img/vector/v1.svg' width='24' height='24' loading='lazy' alt='img')
						p Мониторинг<br>траифка
					.parallax-item.prx-2
						img(src='./img/vector/v2.svg' width='24' height='24' loading='lazy' alt='img')
						p Подбор<br>ключевых слов
					.parallax-item.prx-3
						img(src='./img/vector/v3.svg' width='24' height='24' loading='lazy' alt='img')
						p Стратегия
					.parallax-item.prx-4
						img(src='./img/vector/v4.svg' width='24' height='24' loading='lazy' alt='img')
						p Оптимизация<br>карты сайта
					.parallax-item.prx-5
						img(src='./img/vector/v5.svg' width='24' height='24' loading='lazy' alt='img')
						p Линкбилдинг
					.parallax-item.prx-6
						img(src='./img/vector/v6.svg' width='24' height='24' loading='lazy' alt='img')
						p Разработка
					.parallax-item.prx-7
						img(src='./img/vector/v7.svg' width='24' height='24' loading='lazy' alt='img')
						p Социальные сети
					.parallax-item.prx-21
						img(src='./img/vector/21.svg' width='24' height='24' loading='lazy' alt='img')
						p Ранжирование
					.parallax-item.prx-22
						img(src='./img/vector/22.svg' width='24' height='24' loading='lazy' alt='img')
						p Контент
					.parallax-item.prx-23
						img(src='./img/vector/23.svg' width='24' height='24' loading='lazy' alt='img')
						p TF/IDF
					.parallax-item.prx-24
						img(src='./img/vector/24.svg' width='24' height='24' loading='lazy' alt='img')
						p Анализ<br>трафика
					.parallax-item.prx-25
						img(src='./img/vector/25.svg' width='24' height='24' loading='lazy' alt='img')
						p Оптимизация<br>сайта
					.parallax-item.prx-26
						img(src='./img/vector/26.svg' width='24' height='24' loading='lazy' alt='img')
						p Веб-дизайн
					.parallax-item.prx-27
						img(src='./img/vector/27.svg' width='24' height='24' loading='lazy' alt='img')
						p Обратная связь