section.parallax-seo
	.container
		.parallax-seo-grid
			.parallax-seo__map
				h2.big-title Преимущества SEO - продвижения
				.parallax-seo__bg
					img.visible-768(src='./img/vector/orange-bg.svg', width='1843' height='1083' loading='lazy' alt='img')
					
					
				.parallax-scene
					.parallax-scene__center.h1 SEO
					.parallax-item.prx-1
						img(src='./img/vector/v1.svg' width='24' height='24' loading='lazy' alt='img')
						p Мониторинг<br>траифка
					.parallax-item.prx-2
						img(src='./img/vector/v2.svg' width='24' height='24' loading='lazy' alt='img')
						p Подбор<br>ключевых слов
					.parallax-item.prx-3
						img(src='./img/vector/v3.svg' width='24' height='24' loading='lazy' alt='img')
						p Стратегия
					.parallax-item.prx-4
						img(src='./img/vector/v4.svg' width='24' height='24' loading='lazy' alt='img')
						p Оптимизация<br>карты сайта
					.parallax-item.prx-5
						img(src='./img/vector/v5.svg' width='24' height='24' loading='lazy' alt='img')
						p Линкбилдинг
					.parallax-item.prx-6
						img(src='./img/vector/v6.svg' width='24' height='24' loading='lazy' alt='img')
						p Разработка
					.parallax-item.prx-7
						img(src='./img/vector/v7.svg' width='24' height='24' loading='lazy' alt='img')
						p Социальные сети
					.parallax-item.prx-21
						img(src='./img/vector/21.svg' width='24' height='24' loading='lazy' alt='img')
						p Ранжирование
					.parallax-item.prx-22
						img(src='./img/vector/22.svg' width='24' height='24' loading='lazy' alt='img')
						p Контент
					.parallax-item.prx-23
						img(src='./img/vector/23.svg' width='24' height='24' loading='lazy' alt='img')
						p TF/IDF
					.parallax-item.prx-24
						img(src='./img/vector/24.svg' width='24' height='24' loading='lazy' alt='img')
						p Анализ<br>трафика
					.parallax-item.prx-25
						img(src='./img/vector/25.svg' width='24' height='24' loading='lazy' alt='img')
						p Оптимизация<br>сайта
					.parallax-item.prx-26
						img(src='./img/vector/26.svg' width='24' height='24' loading='lazy' alt='img')
						p Веб-дизайн
					.parallax-item.prx-27
						img(src='./img/vector/27.svg' width='24' height='24' loading='lazy' alt='img')
						p Обратная связь