section.promo.promo-inner.promo--utm
	.container
		.breadcrumbs
			ul
				li 
					a(href="#!") Главная
				li 
					a(href="#!") Услуги
				li 
					a(href="#!") Таргетированная реклама
		.promo-banner.flex
			//=== title block ===
			.promo-title
				h1.h1 Генератор<br>UTM-меток	
				p.subtitle Выведем ваш сайт в ТОП по нужным запросам в Яндекс и Google.Результат по SEO в первый месяц работ. Закажите #[span  бесплатный аудит сайта]

			//====bottom row ====
			.promo-button
				button.btn-accent3
					span Подать заявку
	
	//БЛОК С КАРТОЧКАМИ 
	.promo-benefits
		//=====seo benefits=====
		.container
			.promo-benefits-utm.swiper
				.swiper-wrapper
					//====card ===
					.swiper-slide
						.utm-benefit
							.utm-benefit__title Эффективна ли ваша рассылка
							.utm-benefit__icon
								img(src='./img/utm/u1.webp', srcset='./img/utm/u1@2x.webp 2x' width='225' height='170' loading='lazy' alt='img')
							.utm-benefit__txt Вы ведете рассылку по листу ваших подписчиков с помощью сервисов и хотите узнать, насколько эффективна та или иная рассылка.
					
					//====card ===
					.swiper-slide
						.utm-benefit
							.utm-benefit__title Откуда приходят  пользователи 
							.utm-benefit__icon
								img(src='./img/utm/u2.webp', srcset='./img/utm/u2@2x.webp 2x' width='248' height='192' loading='lazy' alt='img')
							.utm-benefit__txt Вы ведете рекламную кампанию в Google, Яндексе или социальных сетях и хотите узнать, откуда приходят ваши пользователи
					
					//====card ===
					.swiper-slide
						.utm-benefit
							.utm-benefit__title Разные способы привлечения
							.utm-benefit__icon
								img(src='./img/utm/u3.webp', srcset='./img/utm/u3@2x.webp 2x' width='225' height='170' loading='lazy' alt='img')
							.utm-benefit__txt Вы используете другие способы привлечения читателей и потенциальных клиентов и хотите узнать больше о том, откуда они к вам приходят.