section.promo.promo-inner.promo--utm
	.container
		.breadcrumbs
			ul
				li 
					a(href="#!") Главная
				li 
					a(href="#!") Услуги
				li 
					a(href="#!") Таргетированная реклама
		.promo-banner.flex
			//=== title block ===
			.promo-title
				h1.h1 Генератор<br>UTM-меток	
				p.subtitle Выведем ваш сайт в ТОП по нужным запросам в Яндекс и Google.Результат по SEO в первый месяц работ. Закажите #[span  бесплатный аудит сайта]

			//====bottom row ====
			.promo-button
				button.btn-accent3
					span Подать заявку
					