section.promo.promo-inner.promo--seo
	.container
		.breadcrumbs
			ul
				li 
					a(href="#!") Главная
				li 
					a(href="#!") Услуги
				li 
					a(href="#!") SEO продвижение
		.promo-banner.flex
			//=== title block ===
			.promo-title
				h1.h1 SEO продвижение #[br] сайтов				
				p.subtitle Выведем ваш сайт в ТОП по нужным запросам&nbsp;в&nbsp;Яндекс и Google. Результат по SEO в первый&nbsp;месяц работ. Закажите #[span  бесплатный аудит сайта]
			//====bottom row ====
			.promo-button
				button.btn-accent.btn-overlay
					span Подать заявку
	
	//БЛОК С КАРТОЧКАМИ 
	.promo-benefits
		//=====seo benefits=====
		.container
			.promo-benefits-grid
				//====card #1 ===
				.benefit-card.benefit-1
					svg.svg-ten
						use(href='./img/sprite.svg#svg-ten')
					p В DIGITAL
				
				//====card #2 ===
				.benefit-card.benefit-2
					p РОССИЯ #[br] СНГ #[br] ОАЭ #[br]
						span и многие#[br]другие
				
				//====card #3 ===
				.benefit-card.benefit-3
					p.txt-34 97%<br>клиентов
					p.txt-semi Продолжают работать<br>с нами более 3-х лет
					img(loading='lazy' src='./img/planet.webp' srcset="./img/planet@2x.webp 2x" width='190' height='145' alt='img')
					p.txt-second Мы тщательно изучаем особенности бизнеса каждого клиента, соблюдаем установленные сроки и решаем самые нестандартные задачи
					a.btn-grey(href='#!') Пригласить в тендер
				
				//====card #4 ===
				.benefit-card.benefit-4
					img(loading="lazy" src='./img/dashboard.webp' srcset="./img/dashboard@2x.webp 2x" width='360' height='330' alt='img')
				
				//====card #5 ===
				.benefit-card.benefit-5
					p.txt-34 Опытная команда
					p С вами работают профессионалы с&nbsp;многолетним опытом в&nbsp;маркетинге, проходящие регулярную сертификацию
					a(href="#our-team").benefit-card__link
						svg.svg-decor-arrow
							use(href='./img/sprite.svg#svg-decor-arrow')
				
				.benefit-card.benefit-slider.swiper
					.swiper-wrapper
						//single slide
						.swiper-slide
							.result-slide
								.result-slide-header
									p.txt-34 Запросы в ТОП 10<br>Яндекс
									.result-status.hide-768
										.result-status__old  #[span ] Было
										.result-status__new  #[span ] Стало	
								
								.result-slide-body
									.chart-card
										img(src='./img/result-slider/slider1.webp', srcset='./img/result-slider/slider1@2x.webp 2x' width='506' height='171' loading='lazy' alt='img')
									.company-card
										.company-logo
											img.wh-100(src="./img/clients/bassein.svg", loading="lazy"  width="152" height="34" alt="img")
										.company-desk
											p Ниша: салон красоты
											p ГЕО: Санкт-Петербург
											p Каналы: Яндекс Директ
											.result-status
												.result-status__old  #[span ] Было
												.result-status__new  #[span ] Стало
						//single slide
						.swiper-slide
							.result-slide
								.result-slide-header
									p.txt-34 Запросы в ТОП 10<br>Яндекс
									.result-status.hide-768
										.result-status__old  #[span ] Было
										.result-status__new  #[span ] Стало	
								
								.result-slide-body
									.chart-card
										img(src='./img/result-slider/slider1.webp', srcset='./img/result-slider/slider1@2x.webp 2x' width='506' height='171' loading='lazy' alt='img')
									.company-card
										.company-logo
											img.wh-100(src="./img/clients/bassein.svg", loading="lazy"  width="152" height="34" alt="img")
										.company-desk
											p Ниша: салон красоты
											p ГЕО: Санкт-Петербург
											p Каналы: Яндекс Директ
											.result-status
												.result-status__old  #[span ] Было
												.result-status__new  #[span ] Стало
						//single slide
						.swiper-slide
							.result-slide
								.result-slide-header
									p.txt-34 Запросы в ТОП 10<br>Яндекс
									.result-status.hide-768
										.result-status__old  #[span ] Было
										.result-status__new  #[span ] Стало	
								
								.result-slide-body
									.chart-card
										img(src='./img/result-slider/slider1.webp', srcset='./img/result-slider/slider1@2x.webp 2x' width='506' height='171' loading='lazy' alt='img')
									.company-card
										.company-logo
											img.wh-100(src="./img/clients/bassein.svg", loading="lazy"  width="152" height="34" alt="img")
										.company-desk
											p Ниша: салон красоты
											p ГЕО: Санкт-Петербург
											p Каналы: Яндекс Директ
											.result-status
												.result-status__old  #[span ] Было
												.result-status__new  #[span ] Стало
						//single slide
						.swiper-slide
							.result-slide
								.result-slide-header
									p.txt-34 Запросы в ТОП 10<br>Яндекс
									.result-status.hide-768
										.result-status__old  #[span ] Было
										.result-status__new  #[span ] Стало	
								
								.result-slide-body
									.chart-card
										img(src='./img/result-slider/slider1.webp', srcset='./img/result-slider/slider1@2x.webp 2x' width='506' height='171' loading='lazy' alt='img')
									.company-card
										.company-logo
											img.wh-100(src="./img/clients/bassein.svg", loading="lazy"  width="152" height="34" alt="img")
										.company-desk
											p Ниша: салон красоты
											p ГЕО: Санкт-Петербург
											p Каналы: Яндекс Директ
											.result-status
												.result-status__old  #[span ] Было
												.result-status__new  #[span ] Стало
					//pagintion
					.benefit-slider-pagination.swiper-pagination
				
					//nav arrows
					.benefit-slider-nav.flex
						.benefit-slider-prev
							svg.svg-prev
								use(href='./img/sprite.svg#svg-prev')
						.benefit-slider-next
							svg.svg-next
								use(href='./img/sprite.svg#svg-next')
					//- //====column===
					//- .benefit-card__col
					//- 	p.txt-34 Запросы в ТОП 10<br>Яндекс
					//- 	.result-status.hide-768
					//- 		.result-status__old  #[span ] Было
					//- 		.result-status__new  #[span ] Стало
						
					//- 	.result-slider.swiper
					//- 		.swiper-wrapper
								
					//- 			.swiper-slide
					//- 				.chart-card
					//- 					img(src='./img/result-slider/slider1.webp', srcset='./img/result-slider/slider1@2x.webp 2x' width='506' height='171' loading='lazy' alt='img')
					//- 			.swiper-slide
					//- 				.chart-card
					//- 					img(src='./img/result-slider/slider2.webp', srcset='./img/result-slider/slider2@2x.webp 2x' width='506' height='171' loading='lazy' alt='img')
					//- 			.swiper-slide
					//- 				.chart-card
					//- 					img(src='./img/result-slider/slider3.webp', srcset='./img/result-slider/slider3@2x.webp 2x' width='506' height='171' loading='lazy' alt='img')
					//- 			.swiper-slide
					//- 				.chart-card
					//- 					img(src='./img/result-slider/slider4.webp', srcset='./img/result-slider/slider4@2x.webp 2x' width='506' height='171' loading='lazy' alt='img')
							
					//- 		//slider pagination
					//- 		.result-slider-pagination.swiper-pagination
					
					//====column===
					//- .result-company-slider.swiper
					//- 	.swiper-wrapper
					//- 		.swiper-slide
					//- 			.company-card
					//- 				.company-logo
					//- 					img(src="./img/clients/bassein.svg", loading="lazy"  width="152" height="34" alt="img")
					//- 				.company-desk
					//- 					p Ниша: салон красоты
					//- 					p ГЕО: Санкт-Петербург
					//- 					p Каналы: Яндекс Директ
					//- 					.result-status
					//- 						.result-status__old  #[span ] Было
					//- 						.result-status__new  #[span ] Стало
										
					//- 		.swiper-slide
					//- 			.company-card
					//- 				.company-logo
					//- 					img(src="./img/clients/kiki.svg", loading="lazy" width="87" height="49" alt="img")
					//- 				.company-desk
					//- 					p Ниша: салон красоты
					//- 					p ГЕО: Санкт-Петербург
					//- 					p Каналы: Яндекс Директ
					//- 					.result-status
					//- 						.result-status__old  #[span ] Было
					//- 						.result-status__new  #[span ] Стало
					//- 		.swiper-slide
					//- 			.company-card
					//- 				.company-logo
					//- 					img(src="./img/clients/theia.svg", loading="lazy" width="126" height="30" alt="img")
					//- 				.company-desk
					//- 					p Ниша: салон красоты
					//- 					p ГЕО: Санкт-Петербург
					//- 					p Каналы: Яндекс Директ
					//- 					.result-status
					//- 						.result-status__old  #[span ] Было
					//- 						.result-status__new  #[span ] Стало
					//- 		.swiper-slide
					//- 			.company-card
					//- 				.company-logo
					//- 					img(src="./img/clients/insight.svg", loading="lazy" width="125" height="71" alt="img")
					//- 				.company-desk
					//- 					p Ниша: салон красоты
					//- 					p ГЕО: Санкт-Петербург
					//- 					p Каналы: Яндекс Директ
					//- 					.result-status
					//- 						.result-status__old  #[span ] Было
					//- 						.result-status__new  #[span ] Стало
						
					//- 	//===== slider nav===
					//- 	.result-company-nav.flex
					//- 		.result-company-prev
					//- 			svg.svg-prev
					//- 				use(href='./img/sprite.svg#svg-prev')
					//- 		.result-company-next
					//- 			svg.svg-next
					//- 				use(href='./img/sprite.svg#svg-next')
						
					//- 	//===== slider pagination===
					//- 	.result-company-pagination.swiper-pagination