//====SEO STAGES ====
section.seo-stages
	.container
		.title-group
			h2.title Этапы SEO-продвижения сайта
			.title-sub Алгоритм нашей работы
		
		.seo-stages-content.custom-tabs
			.custom-tab-item
				.custom-tab-btn.round-link
					p Анализ ниши, конкурентов и целевой аудитории
				.custom-tab-hidden
					.custom-tab-body
						.custom-tab__title Анализ ниши, конкурентов и целевой аудитории
						p На первом этапе мы изучаем рынок, оцениваем ваших конкурентов и определяем потребности целевой аудитории. Понимаем, кто ваши клиенты, что им нужно, и какие стратегии используют конкуренты. 
						p Этот анализ помогает выявить точки роста, сформировать эффективную стратегию продвижения и сосредоточиться на тех, кто готов выбрать именно ваш продукт.
			
			.custom-tab-item
				.custom-tab-btn.round-link
					p Аудит сайта
				.custom-tab-hidden
					.custom-tab-body
						.custom-tab__title Аудит сайта
						p Проверяем сайт на ошибки, которые мешают его продвижению. Анализируем технические проблемы, скорость загрузки и актуальность контента. Находим слабые места, из-за которых вы теряете клиентов, и разрабатываем план улучшений, чтобы сайт соответствовал требованиям поисковых систем и ожиданиям вашей аудитории.

			
			.custom-tab-item
				.custom-tab-btn.round-link
					p Формирование семантического ядра
				.custom-tab-hidden
					.custom-tab-body
						.custom-tab__title Формирование семантического ядра
						p Собираем ключевые слова, по которым ваш сайт будут находить клиенты. Учитываем популярные запросы, их частотность и уровень конкуренции. 
						p Семантическое ядро помогает определить, какой контент добавить или улучшить на сайте, чтобы он стал видимым в поиске. Это основа успешного продвижения и привлечения вашей целевой аудитории.
			
			.custom-tab-item
				.custom-tab-btn.round-link
					p Техническая оптимизация
				.custom-tab-hidden
					.custom-tab-body
						.custom-tab__title Техническая оптимизация
						p Исправляем технические ошибки, которые мешают сайту занимать высокие позиции в поиске. Настраиваем карту сайта, ускоряем загрузку, оптимизируем код, настраиваем HTTPS и улучшаем мобильную версию. 
						p Результат – сайт, удобный для пользователей и соответствующий стандартам поисковых систем.

			
			.custom-tab-item
				.custom-tab-btn.round-link
					p Оптимизация посадочных страниц
				.custom-tab-hidden
					.custom-tab-body
						.custom-tab__title Оптимизация посадочных страниц

						p Приводим страницы сайта в порядок, чтобы они привлекали и удерживали клиентов. Оптимизируем тексты, внедряем ключевые слова, улучшаем дизайн и упрощаем структуру. 
						p Цель – сделать страницы удобными для пользователей и повысить конверсию, чтобы посетители чаще оставляли заявки или оформляли заказы.

			.custom-tab-item
				.custom-tab-btn.round-link
					p Внешняя SEO-оптимизация
				.custom-tab-hidden
					.custom-tab-body
						.custom-tab__title Внешняя SEO-оптимизация
						p Работаем с внешними факторами, которые влияют на продвижение сайта. Размещаем качественные ссылки, пишем статьи и упоминаем ваш бренд на сторонних ресурсах. 
						p Это помогает укрепить доверие поисковиков, улучшить позиции в выдаче и привлечь больше аудитории. Мы тщательно проверяем, чтобы ссылки были безопасными и работали на рост репутации вашего сайта.

			.custom-tab-item
				.custom-tab-btn.round-link
					p Итоговый мониторинг показателей
				.custom-tab-hidden
					.custom-tab-body
						.custom-tab__title Итоговый мониторинг показателей
						p Регулярно анализируем результаты продвижения: оцениваем посещаемость, позиции сайта в поисковиках и конверсии. Если что-то не работает, корректируем стратегию. 
						p Постоянный мониторинг позволяет выявить самые эффективные методы и усиливать эти направления для достижения максимального результата.
