
//Для чего нужно SEO
section.what-seo.sticky-cards
	.container
		.what-seo__content.sticky-cards__content
			//LEFT COLUMNS
			.what-seo__text.sticky-cards__left
				h2.title Для чего нужно SEO
				p SEO продвижение необходимо для повышения видимости сайта в поисковых системах. Оно помогает привлекать целевую аудиторию, увеличивать органический трафик, повышать узнаваемость бренда и доверие к нему. 

				p Правильное SEO улучшает позиции сайта в выдаче, делает его более доступным для потенциальных клиентов, что ведет к росту конверсии и прибыли компании без дополнительных затрат на рекламу.
				
			//RIGHT COLUMNS
			.what-seo-swiper-box.sticky-cards__right
				
				.what-seo-card
					.what-seo-card__img
						img(src='./img/seo-icons/traffik.webp', srcset='./img/seo-icons/traffik@2x.webp 2x' width='224' height='308' loading='lazy' alt='img')
					.what-seo-card__txt
						.seo-card__title Трафик
						p Постоянный поток клиентов без рекламы — вас находят те, кто уже заинтересован в покупке
					.what-seo-card__num 1/4
			
				.what-seo-card
					.what-seo-card__img
						img(src='./img/seo-icons/site.webp', srcset='./img/seo-icons/site@2x.webp 2x' width='254' height='224' loading='lazy' alt='img')
					.what-seo-card__txt
						.what-seo-card__title Сайт
						p Оптимизация структуры, UX и скорости делает сайт привлекательным для людей и поисковых систем
						.what-seo-card__num 2/4
			
				.what-seo-card
					.what-seo-card__img
						img(src='./img/seo-icons/prodaji.webp', srcset='./img/seo-icons/prodaji@2x.webp 2x' width='270' height='218' loading='lazy' alt='img')
					.what-seo-card__txt
						.what-seo-card__title Продажи
						p Рост конверсий за счёт мотивированных посетителей с чёткими, целевыми запросами
						.what-seo-card__num 3/4

			
				.what-seo-card
					.what-seo-card__img
						img(src='./img/seo-icons/rub.webp', srcset='./img/seo-icons/rub@2x.webp 2x' width='254' height='280' loading='lazy' alt='img')
					.what-seo-card__txt
						.what-seo-card__title Прибыль
						p Повышает рентабельность: снижает стоимость лида и увеличивает средний чек с качественного трафика
						.what-seo-card__num 4/4
							