section.packages
	.container
		h2.title Тарифы
		.packages-swiper.swiper
			.swiper-wrapper
				//слайд
				.swiper-slide
					.tariff-plan
						.tariff-plan__body
							.tariff__name Старт
							.tariff__list
								
								ul
									li Анализ конкурентов
									li Технические аудиты сайта
									li Внутренняя оптимизация 
									li Улучшение коммерческих факторов
									li Мониторинг позиций сайта
									li Ежемесячный отчет
						
						.tariff-plan__footer
							.tariff-price 
								span 30 000 &#8381;
							button.btn-outline.bg-black.w-100 Хочу
				//слайд
				.swiper-slide
					.tariff-plan
						span.tariff-label
						.tariff-plan__body
							.tariff__name Максимум
							.tariff__list
								.tariff__list-name Старт+
								ul
									li Проработка поведенческих факторов
									li Проработка релевантности сайта
									li Ссылочное строение
									
						
						.tariff-plan__footer
							.tariff-price 
								span 70 000 &#8381;
							button.btn-outline.bg-black.w-100 Хочу
				//слайд
				.swiper-slide
					.tariff-plan
						.tariff-plan__body
							.tariff__name Оптимальный
							.tariff__list
								.tariff__list-name Старт+
								ul
									li Проработка поведенческих факторов
									li Проработка релевантности сайта
									
						.tariff-plan__footer
							.tariff-price 
								span 50 000 &#8381;
							button.btn-outline.bg-black.w-100 Хочу