.our-mission-title.our-target-mission
	h2.big-title Наша миссия это успех и масштабирование вашего бизнеса
	.search-decore
		img(src="./img/targeting/zigzag.webp", srcset="./img/targeting/zigzag@2x.webp 2x" loading="lazy" width="234" height="353" alt="icon") 