//Технологии
section.technology
	.container
		.title-group
			h2.title Технологии
			.techno-swiper.swiper
				.techno-card-wrapper.swiper-wrapper
					.techno-card
						.techno-card__img
							img(src='./img/techno-logo/target-techno1.webp', srcset='./img/techno-logo/target-techno1.webp@2x.webp 2x' width='70' height='70' loading='lazy' alt='img')
						.techno-card__txt
							.techno-card__title Target Hunter
							p Платформа для  бизнес-аналитики
					.techno-card
						.techno-card__img
							img(src='./img/techno-logo/target-techno1.webp', srcset='./img/techno-logo/target-techno1.webp@2x.webp 2x' width='70' height='70' loading='lazy' alt='img')
						.techno-card__txt
							.techno-card__title Target Hunter
							p Платформа для  бизнес-аналитики
					.techno-card
						.techno-card__img
							img(src='./img/techno-logo/target-techno1.webp', srcset='./img/techno-logo/target-techno1.webp@2x.webp 2x' width='70' height='70' loading='lazy' alt='img')
						.techno-card__txt
							.techno-card__title Target Hunter
							p Платформа для  бизнес-аналитики
					.techno-card
						.techno-card__img
							img(src='./img/techno-logo/target-techno1.webp', srcset='./img/techno-logo/target-techno1.webp@2x.webp 2x' width='70' height='70' loading='lazy' alt='img')
						.techno-card__txt
							.techno-card__title Target Hunter
							p Платформа для  бизнес-аналитики
				//pagination
			.technology-pagination.swiper-pagination
		