section.target-direction
	.container
		h2.title Направления
		.target-direction-cards
			//card
			a.direction-card(href="#!" style="background-image: url('../img/direction/vk.webp')")
				.direction-card__title ВК Реклама
				p Система контекстной рекламы на страницах «Яндекса» и сайтах партнёров
				span.direction-card__arrow
					svg.svg-right
						use(href='../img/sprite.svg#svg-right')
			//card
			a.direction-card(href="#!" style="background-image: url('../img/direction/tg.webp')")
				.direction-card__title Telegram Ads
				p Система сквозной аналитики
				span.direction-card__arrow
					svg.svg-right
						use(href='../img/sprite.svg#svg-right')
			//card
			a.direction-card(href="#!" style="background-image: url('../img/direction/ok.webp')")
				.direction-card__title Одноклассники
				p Платформа для бизнес-аналитики
				span.direction-card__arrow
					svg.svg-right
						use(href='../img/sprite.svg#svg-right')