//=== TEAM ===
section.team#our-team
	.container
		h2.title Команда экспертов
		.team-swiper.swiper
			.swiper-wrapper
				//===card 1 ===
				.swiper-slide
					.team-card
						//=== верхний ряд ===
						.team-card__row
							.team-card__img
								img(src="./img/team/team1.webp", loading="lazy" srcset="./img/team/team1@2x.webp 2x" width="174" height="182" alt="alt")
							.team-card__info
								p.team-card__name Глеб Савов
								p.team-card__range CEO / Эксперт по маркетингу
								p.team-card__exper В DIGITAL 10 лет 
								.tags-wrapper
									.tag #таргет
									.tag #маркетинг
									.tag #менежмент
						//=== нижний ряд ===
						.team-card__row
							.team-card__icon
								a(href="./img/team/sert1-big.webp" data-lightbox="team1-sert").rotate-img1
									img(src="./img/team/sert1.webp", loading="lazy" srcset="./img/team/sert1@2x.webp 2x" width="89" height="97" alt="alt")
								a(href="./img/team/sert1-big.webp" data-lightbox="team1-sert").rotate-img2
									img(src="./img/team/sert2.webp", loading="lazy" srcset="./img/team/sert2@2x.webp 2x" width="94" height="96" alt="alt")
							.team-card__text
								p Разработаю стратегию успеха для вашего бизнеса. Веду “ADs’кий подкаст” о главных трендах в маркетинге
								a(href="#!").mini-btn
									span Подробнее
									span.yout-icon
				//===card 2 ===
				.swiper-slide
					.team-card
						//=== верхний ряд ===
						.team-card__row
							.team-card__img
								img(src="./img/team/team2.webp", srcset="./img/team/team2@2x.webp 2x" width="174" height="182" alt="alt")
							.team-card__info
								p.team-card__name Алексей<br>Иващенко
								p.team-card__range Руководитель / SEO гуру
								p.team-card__exper В DIGITAL 7 лет
								.tags-wrapper
									.tag #seo
									.tag #продвжиние
									.tag #менежмент 
						//=== нижний ряд ===
						.team-card__row
							.team-card__icon
								img(src="./img/team/seo1.webp", srcset="./img/team/seo1@2x.webp 2x" width="119" height="128" alt="alt")
							.team-card__text
								p Оперативно решаю все вопросы, веду конструктивный диалог. Мой подход к работе с прицелом на результат. Готов привести ваш бизнес к новым достижениям.
				//===card 3 ===
				.swiper-slide
					.team-card
						//=== верхний ряд ===
						.team-card__row
							.team-card__img
								img(src="./img/team/team3.webp", loading="lazy" srcset="./img/team/team3@2x.webp 2x" width="174" height="182" alt="alt")
							.team-card__info
								p.team-card__name Артем Мулярчик
								p.team-card__range Руководитель / Аналитик
								p.team-card__exper В DIGITAL 4 лет 
								.tags-wrapper
									.tag #таргет 
									.tag #менежмент
									.tag #менежмент 
						//=== нижний ряд ===
						.team-card__row
							.team-card__icon
								a(href="./img/team/sert1-big.webp" data-lightbox="team3-sert").rotate-img1
									img(src="./img/team/sert1.webp", loading="lazy" srcset="./img/team/sert1@2x.webp 2x" width="89" height="97" alt="alt")
							.team-card__text
								p Яркий, отзывчивый и коммуникабельный. Хорошо разбираюсь в специфике Google и Яндекса, не упускаю ни одной цифры. Четко проанализирую ситуацию, всегда на связи.
				//===card 4 ===
				.swiper-slide
					.team-card
						//=== верхний ряд ===
						.team-card__row
							.team-card__img
								img(src="./img/team/team4.webp", loading="lazy" srcset="./img/team/team4@2x.webp 2x" width="174" height="182" alt="alt")
							.team-card__info
								p.team-card__name Валерия
								p.team-card__range CEO-специалист 
								p.team-card__exper В DIGITAL 2 года 
								.tags-wrapper
									.tag #seo
									.tag #продвжиние
									.tag #менежмент 
						//=== нижний ряд ===
						.team-card__row
							.team-card__icon
								img(src="./img/team/icon4.webp", loading="lazy" srcset="./img/team/icon4@2x.webp 2x" width="119" height="128" alt="alt")
							.team-card__text
								p Эксперт в Яндекс.Директе и контекстной рекламе. Активно изучаю новые технологии и постоянно учусь. Ответственно подхожу к работе.
				//===card 5 ===
				.swiper-slide
					.team-card
						//=== верхний ряд ===
						.team-card__row
							.team-card__img
								img(src="./img/team/team5.webp", loading="lazy" srcset="./img/team/team5@2x.webp 2x" width="155" height="133" alt="alt")
							.team-card__info
								p.team-card__name Максим
								p.team-card__range CEO-специалист 
								p.team-card__exper В DIGITAL 7 лет
								.tags-wrapper
									.tag #seo
									.tag #продвжиние
									.tag #менежмент 
						//=== нижний ряд ===
						.team-card__row
							.team-card__icon
								img(src="./img/team/icon5.webp", loading="lazy" srcset="./img/team/icon5@2x.webp 2x" width="119" height="128" alt="alt")
							.team-card__text
								p Стремлюсь следовать трендам. Эксперт в Яндекс.Директе и контекстной рекламе. Постоянно расширяю свои знания и умения через обучение и практику.
				//===card 6 ===
				.swiper-slide
					.team-card
						//=== верхний ряд ===
						.team-card__row
							.team-card__img
								img(src="./img/team/team6.webp", loading="lazy" srcset="./img/team/team6@2x.webp 2x" width="174" height="182" alt="alt")
							.team-card__info
								p.team-card__name Варвара
								p.team-card__range Дизайнер / Иллюстратор
								p.team-card__exper В DIGITAL 4 лет 
								.tags-wrapper
									.tag #таргет 
									.tag #менежмент
									.tag #менежмент
						//=== нижний ряд ===
						.team-card__row
							.team-card__icon
								img(src="./img/team/icon6.webp", loading="lazy" srcset="./img/team/icon6@2x.webp 2x" width="137" height="110" alt="alt")
							.team-card__text
								p Сочетаю творческое мышление и маркетинговый подход. Могу создать баннер, который не только привлечет внимание, но и увеличит продажи. Мой дизайн не только красив, но и эффективен.

			//==== pagination =====
			.team-pagination.swiper-pagination