//====TECHNOLOGY ====
section.technology
	.container
		.title-group
			h2.title Инструменты для<br>раскрутки сайта
			
		//- .techno-card-wrapper
		//- 	+techno-card('t1', 'Keys So', 'Анализирует конкурентов, собирает ключевые запросы и отслеживает их позиции, определяет точки роста')
		//- 	+techno-card('t2', 'Word-keeper', 'Распределяет запросы по страницам и помогает формировать структуру сайта')
		//- 	+techno-card('t3', 'Megaindex', 'Проверка ссылок, подбор ключей и отслеживание позиций сайта в поисковых системах')
		//- 	+techno-card('t4', 'Topvizor', 'Идеален для больших проектов. Позволяет мониторить позиции, анализировать запросы, и проверять индексацию')
		//- 	+techno-card('t8', 'Вордстат', 'Показывает, какие слова и фразы популярны среди вашей аудитории')
		//- 	+techno-card('t5', 'Semrush', 'Мощный инструмент для анализа конкурентов, аудита сайтов, подбора ключевых слов и изучения рынка.')
		//- 	+techno-card('t6', 'Labrika', 'Автоматизирует SEO-задачи: проводит аудит сайта, устраняет ошибки и помогает улучшить контент')
		//- 	+techno-card('t7', 'PR-CY', 'Быстро анализирует техническое состояние сайта и дает рекомендации по исправлению проблем и улучшению скорости')
		
		.techno-card-slider.swiper
			.swiper-wrapper
				.swiper-slide
					+techno-card('t1', 'Keys So', 'Анализирует конкурентов, собирает ключевые запросы и отслеживает их позиции, определяет точки роста')
				.swiper-slide	
					+techno-card('t2', 'Word-keeper', 'Распределяет запросы по страницам и помогает формировать структуру сайта')
				.swiper-slide
					+techno-card('t3', 'Megaindex', 'Проверка ссылок, подбор ключей и отслеживание позиций сайта в поисковых системах')
				.swiper-slide
					+techno-card('t4', 'Topvizor', 'Идеален для больших проектов. Позволяет мониторить позиции, анализировать запросы, и проверять индексацию')
				.swiper-slide
					+techno-card('t8', 'Вордстат', 'Показывает, какие слова и фразы популярны среди вашей аудитории')
				.swiper-slide
					+techno-card('t5', 'Semrush', 'Мощный инструмент для анализа конкурентов, аудита сайтов, подбора ключевых слов и изучения рынка.')
				.swiper-slide
					+techno-card('t6', 'Labrika', 'Автоматизирует SEO-задачи: проводит аудит сайта, устраняет ошибки и помогает улучшить контент')
				.swiper-slide
					+techno-card('t7', 'PR-CY', 'Быстро анализирует техническое состояние сайта и дает рекомендации по исправлению проблем и улучшению скорости')`