//====TECHNOLOGY ====
section.technology
	.container
		.title-group
			h2.title Инструменты для<br>раскрутки сайта
			
		.techno-card-wrapper
			+techno-card('t1', 'Keys So', 'Платформа для автоматизации работы, которая позволяет и')
			+techno-card('t2', 'Keys So', 'Платформа для автоматизации работы, которая позволяет и')
			+techno-card('t3', 'Keys So', 'Платформа для автоматизации работы, которая позволяет и')
			+techno-card('t4', 'Keys So', 'Платформа для автоматизации работы, которая позволяет и')
			+techno-card('t5', 'Keys So', 'Платформа для автоматизации работы, которая позволяет и')
			+techno-card('t6', 'Keys So', 'Платформа для автоматизации работы, которая позволяет и')
			+techno-card('t7', 'Keys So', 'Платформа для автоматизации работы, которая позволяет и')
			+techno-card('t8', 'Keys So', 'Платформа для автоматизации работы, которая позволяет и')
				