//====TECHNOLOGY ====
section.technology
	.container
		.title-group
			h2.title Технологии
			.title-sub Мы используем современные технологии и комплексный подход для продвижения вашего сайта. Анализируем конкурентов, оптимизируем контент, выстраиваем структуру, устраняем технические ошибки и отслеживаем позиции в поиске. Всё это помогает вашему бизнесу стабильно расти.

		.technology-content
			.technology-slider.swiper
				.swiper-wrapper
					.swiper-slide
						+flex-card(1, 'Keys So', 'Анализирует конкурентов, собирает ключевые запросы и отслеживает их позиции. Сервис поможет определить точки роста вашего сайта.')
					.swiper-slide
						+flex-card(2, 'Word-keeper', 'Упрощает работу с семантикой: распределяет запросы по страницам и помогает формировать структуру сайта.')
					.swiper-slide
						+flex-card(3, 'Megaindex', 'Все для анализа SEO: проверка ссылок, подбор ключей и отслеживание позиций сайта в поисковых системах.')
					.swiper-slide
						+flex-card(4, 'Topvizor', 'Идеален для больших проектов. Позволяет мониторить позиции, анализировать запросы и проверять индексацию.')
					.swiper-slide
						+flex-card(5, 'Semrush', 'Мощный инструмент для анализа конкурентов, аудита сайтов, подбора ключевых слов и изучения рынка.')
					.swiper-slide
						+flex-card(6, 'Labrika', 'Автоматизирует SEO-задачи: проводит аудит сайта, устраняет ошибки и помогает улучшить контент.')
					.swiper-slide
						+flex-card(7, 'PR-CY', 'Быстро анализирует техническое состояние сайта и дает рекомендации по исправлению проблем и улучшению скорости.')
					.swiper-slide
						+flex-card(8, 'Wordstat', 'Инструмент от Яндекса для анализа частотности запросов. Показывает, какие слова и фразы популярны среди вашей аудитории.')
				
				//=== slider pagination
				.technology-pagination.swiper-pagination
				