section
	.container
		button.btn Button
		a(href="#!").btn Button
		input(type="submit" value="Button").btn
		pre.
			button.btn Button
		hr
		.tag #analytics
		pre.
			.tag #analytics
		.tag.active #analytics
		pre.
			.tag.active #analytics
		.flex.tags-wrapper
			.tag #analytics
			.tag.active #analytics
			.tag #analytics
			.tag #analytics
		hr

		.tag-slim 👏 290
		.tag-slim
			svg.svg-eye
				use(href='./img/sprite.svg#svg-eye')
			|290
		hr
		.breadcrumbs
			ul
				li
					a(href="#!") Главная
				li
					a(href="#!") Услуги
				li
					a(href="#!") Контекстная реклама
		hr
		+card
		
		
