section.video-review
	.container
		.video-review-container
			+videoRev(2, 'Дмитрий', 'Бизнес клуб Level Up')
			+videoRev(2, 'Дмитрий', 'Бизнес клуб Level Up')
			+videoRev(2, 'Дмитрий', 'Бизнес клуб Level Up')
			+videoRev(2, 'Дмитрий', 'Бизнес клуб Level Up')
			+videoRev(2, 'Дмитрий', 'Бизнес клуб Level Up')
			+videoRev(2, 'Дмитрий', 'Бизнес клуб Level Up')
