section.what-targeting
	.container
		.title-group
			h2.title Таргетированная реклама
			.title-sub Почему ее заказывают?
		//Карточки
		.seo-benefits-cards
			//статичные карточки
			.seo-cards-grid
				+flip-card('seo-icons/seo5', 'Увеличение<br>трафика', 'Привлечение больше посетителей, целевую аудиторию, которая интересуется именно вашими товарами и услугами благодаря точному SEO-анализу и оптимизации. <span>Профессиональное продвижение в Яндекс</span> гарантирует приток потенциальных клиентов.')
				+flip-card('seo-icons/seo8', 'Экономия бюджета на рекламе', 'Органический трафик обходится дешевле, чем контекстная реклама. Благодаря <span>SEO-продвижению сайта</span> вы будете получать клиентов без необходимости постоянных вложений в рекламу. <span>Цена продвижения сайта</span> окупается за счет стабильного притока новых клиентов.')
				+flip-card('seo-icons/seo6', 'Рост доверия<br>и репутации', 'Сайты, которые находятся в топе поисковой выдачи, вызывают больше доверия у пользователей. Мы поможем вашему сайту попасть в лидеры. <span>Продвижение сайта в топ</span> поисковых систем – это инвестиция в репутацию вашей компании.')
				+flip-card('seo-icons/seo7', 'Долгосрочный результат', 'SEO — это инвестиция в будущее. Ваш сайт будет привлекать клиентов стабильно, даже через годы после завершения оптимизации. Это решение с <span>долгосрочным эффектом</span> для развития вашего бизнеса. Продвижение сайтов от агентства SAVOV обеспечивает стабильный результат.')
			
			//слайдер
			.seo-cards-swiper.swiper
				.swiper-wrapper
					.swiper-slide
						.seo-benefit-card
							.seo-benefit__icon
								img(src='./img/seo-icons/seo5.webp', srcset='./img/seo-icons/seo5@2x.webp 2x' width='' height='' loading='lazy' alt='img')
							.seo-benefit__txt
								.seo-benefit__title Увеличение<br>трафика
								p Привлечение больше посетителей, целевую аудиторию, которая интересуется именно вашими товарами и услугами благодаря точному SEO-анализу и оптимизации. Профессиональное продвижение в Яндекс гарантирует приток потенциальных клиентов.

					.swiper-slide
						.seo-benefit-card
							.seo-benefit__icon
								img(src='./img/seo-icons/seo8.webp', srcset='./img/seo-icons/seo8@2x.webp 2x' width='' height='' loading='lazy' alt='img')
							.seo-benefit__txt
								.seo-benefit__title Экономия бюджета на рекламе
								p Органический трафик обходится дешевле, чем контекстная реклама. Благодаря <span>SEO-продвижению сайта</span> вы будете получать клиентов без необходимости постоянных вложений в рекламу. <span>Цена продвижения сайта</span> окупается за счет стабильного притока новых клиентов.
					.swiper-slide
						.seo-benefit-card
							.seo-benefit__icon
								img(src='./img/seo-icons/seo6.webp', srcset='./img/seo-icons/seo6@2x.webp 2x' width='' height='' loading='lazy' alt='img')
							.seo-benefit__txt
								.seo-benefit__title Рост доверия<br>и репутации
								p Сайты, которые находятся в топе поисковой выдачи, вызывают больше доверия у пользователей. Мы поможем вашему сайту попасть в лидеры. <span>Продвижение сайта в топ</span> поисковых систем – это инвестиция в репутацию вашей компании.
					.swiper-slide
						.seo-benefit-card
							.seo-benefit__icon
								img(src='./img/seo-icons/seo7.webp', srcset='./img/seo-icons/seo7@2x.webp 2x' width='' height='' loading='lazy' alt='img')
							.seo-benefit__txt
								.seo-benefit__title Долгосрочный результат
								p SEO — это инвестиция в будущее. Ваш сайт будет привлекать клиентов стабильно, даже через годы после завершения оптимизации. Это решение с <span>долгосрочным эффектом</span> для развития вашего бизнеса. Продвижение сайтов от агентства SAVOV обеспечивает стабильный результат.
				
				//pagination
				.seo-cards-pagination.swiper-pagination