//=== WHAT IS SEO ===
section.what-seo
	.container
		h1.title Что такое SEO?
		.what-seo__text
			.what-seo__left
				p SEO (Search Engine Optimization) — это комплекс мероприятий по внутренней и внешней оптимизации сайта для поднятия позиций в результатах выдачи поисковых систем по определённым запросам пользователей.
			.what-seo__right
				p Цель SEO — увеличение сетевого трафика (для информационных ресурсов), потенциальных клиентов (для коммерческих ресурсов) и последующей монетизации этого трафика (получение дохода).
		.scroll-wrapper
			.what-seo-wrapper
				.seo-item
					.seo-item-txt
						.seo-item__icon
							img(src="./img/seo-icons/seo1.webp", loading="lazy" srcset="./img/seo-icons/seo1@2x.webp 2x" width="135" height="146" alt="icon")
						.seo-item__name Трафик

				.seo-item
					.seo-item-txt
						.seo-item__icon
							img(src="./img/seo-icons/seo2.webp", loading="lazy" srcset="./img/seo-icons/seo2@2x.webp 2x" width="178" height="145" alt="icon")
						.seo-item__name Сайт
				.seo-item
					.seo-item-txt
						.seo-item__icon
							img(src="./img/seo-icons/seo3.webp", loading="lazy" srcset="./img/seo-icons/seo3@2x.webp 2x" width="238" height="151" alt="icon")
						.seo-item__name Продажи
				.seo-item
					.seo-item-txt
						.seo-item__icon
							img(src="./img/seo-icons/seo4.webp", loading="lazy" srcset="./img/seo-icons/seo4@2x.webp 2x" width="193" height="155" alt="icon")
		
						.seo-item__name Прибыль