section.seo-animate
	.container
		.seo-animate__content
			.seo-animate__text
				h1 Что такое SEO?
				p SEO — это набор стратегий и методов, направленных на оптимизацию сайта как внутри, так и снаружи.
				p Основная цель этих мероприятий — улучшить видимость сайта и занять более высокие позиции в результатах поисковых систем.
			.seo-animate__cards
				.seo-card
					.seo-card__img
						img(src='./img/seo-icons/rub.webp', srcset='./img/seo-icons/rub@2x.webp 2x' width='254' height='280' loading='lazy' alt='img')
					.seo-card__txt
						p Прибыль-1
						p Цель SEO — увеличение сетевого трафика (для информационных ресурсов)
				.seo-card
					.seo-card__img
						img(src='./img/seo-icons/rub.webp', srcset='./img/seo-icons/rub@2x.webp 2x' width='254' height='280' loading='lazy' alt='img')
					.seo-card__txt
						p Прибыль-2
						p Цель SEO — увеличение сетевого трафика (для информационных ресурсов)
				.seo-card
					.seo-card__img
						img(src='./img/seo-icons/rub.webp', srcset='./img/seo-icons/rub@2x.webp 2x' width='254' height='280' loading='lazy' alt='img')
					.seo-card__txt
						p Прибыль-3
						p Цель SEO — увеличение сетевого трафика (для информационных ресурсов)
				.seo-card
					.seo-card__img
						img(src='./img/seo-icons/rub.webp', srcset='./img/seo-icons/rub@2x.webp 2x' width='254' height='280' loading='lazy' alt='img')
					.seo-card__txt
						p Прибыль-4
						p Цель SEO — увеличение сетевого трафика (для информационных ресурсов)