@use "var" as *;
@font-face {
  font-family: "RF Dewi Expanded";
  src: url("../fonts/RFDewiExpanded-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  }
  @font-face {
    font-family: "RF Dewi Expanded";
    src: url("../fonts/RFDewiExpanded-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    }

    @font-face {
      font-family: "RF Dewi Expanded";
      src: url("../fonts/RFDewiExpanded-UltraBold.woff2") format("woff2");
      font-style: normal;
      font-weight: 800;
      font-display: swap;
      }
      @font-face {
        font-family: "RF Dewi Expanded";
        src: url("../fonts/RFDewiExpanded-Black.woff2") format("woff2");
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        }

      @font-face{
				font-family: 'Montserrat';
				src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
				font-weight: 600;
				font-style: normal;
				font-display: swap;
			}
			@font-face{
				font-family: 'Montserrat';
				src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
				font-weight: bold;
				font-style: normal;
				font-display: swap;
			}
      @font-face{
				font-family: 'Montserrat';
				src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
				font-weight: 400;
				font-style: normal;
				font-display: swap;
			}
:root{
  --font-family: "RF Dewi Expanded";
  --second-family:'Montserrat';
  
  --white: white;
  --dark: #131313;
  --back-2: #282828;
  --target: #3A7FF5;
  --utm: #FF562F;
}
* {
	  box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;;
    
  }
  
  html {
	 scroll-behavior: smooth;
  }

  html,
  body {
	margin: 0;
	padding: 0;
	width: 100%;
  background-color: #131313;
  color: white;
  font-family: var(--font-family), sans-serif;
 
  line-height: 1.2;
	-webkit-font-smoothing: antialiased;
    @media (max-width: 1919px) {
        font-size: resp(16);
    }
    @media (max-width: 767px) {
    font-size: remy(16);
    }
  }
  .lock {
	overflow: hidden;
	touch-action: none;
	-ms-touch-action: none;
	height: 100vh;
  }
  .back-overlay{
    position: fixed;
    inset:0;
    background-color: rgba(0,0,0, .64);
    height: 0;
    overflow: hidden;
    transition: .2s;
    z-index: 12;
    &.back-overlay--show{height: 100vh;}
  }
  a{color: inherit; display: inline-block;}
  a,
  a:hover {
	text-decoration: none;
  }
  
  ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  p {
	padding: 0;
	margin: 0;
  }
 
  img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
  object-fit: cover;
  }
  img.wh-100{
    width: 100%;
    height: 100%;
  }
  img.round-img{border-radius: 50%;}
  input,
  button, button:focus, input:focus {
	outline: none;
  }
  
  button {
	padding: 0;
	background-color: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
  font-family: inherit;
  }
input[type="submit"]{
	padding: 0;
	cursor:pointer;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {

  -webkit-box-shadow: 0 0 0px 1000px #2B2C2E inset;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color:white;
}
main{
  
  display: flex;
  flex-direction: column;
  
  &>*{width: 100%;}
  
}
.d-none{display: none;}
.inner-main{
  row-gap: remy(120);
  background-image: url('../img/logo-bg.svg');
  background-repeat: no-repeat;
  background-size: 29%;
  background-position: right;
  &>*{position: relative;
  }
  @media (max-width: 767px) {
    row-gap: remy(40)
  }

}
.page-column{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &>*{width: 100%;}
  &> header, &> footer{flex-shrink: 0;}
  &>main{flex-grow: 1;}
  
}

.container{
  width: 100%;
  max-width: remy(1668);
  padding-inline: remy(16);
  margin: 0 auto;
 
  @media (max-width: 767px) {
    max-width: 390px;
    &.container-mobile{padding-inline: 0;}
  }
}
.white-wrapper{
  padding: 33px;
  border-radius: 24px;
  background-color: #fff;
 &>*+*{margin-top: 40px;}
 @media (max-width: 767px) {
   border-radius: 0;
  padding: 30px;
 }
}
.flex, .flex-center,.flex-wrap, .flex-center-wrap,.tags-wrapper,.icon-link,.flex-column,.flex-header{
  display: flex;
  flex-direction:row;
  align-items: center;
  column-gap:18px;
}
.flex-header{justify-content: space-between; &>*{margin-bottom: 0!important;}}
.flex-column{
  flex-direction: column;
  row-gap:10px;
  &>*{width: 100%;}
}
.w-100{width: 100%!important;}
.flex-center, .flex-center-wrap,.tags-wrapper{
  justify-content: center;
}
.flex-wrap, .flex-center-wrap,.tags-wrapper{
  flex-wrap:wrap;
}
.grid-box,.grid-three-columns{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap:28px;
  @media (max-width: 767px) {
   gap: 20px;
  }
}
.grid-three-columns>*{
  grid-column: span 4;
  
  @media (max-width: 767px) {
  grid-column: span 12;
  }
}
.grid-three-columns>.large-card{
  grid-column: span 8;
  grid-row: span 1;
  width: 100%;
  @media (max-width: 767px) {
      grid-column: span 12;
    }
}
.grid-three-columns> .inner-form{
  grid-column: span 12;
}
.grid-four-col{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap:30px;
  
	@media (max-width: 767px) {
		grid-template-columns: repeat(1, 1fr);
    gap:18px;
	}
	
}
.visible-768{
  display: flex;
  @media (max-width: 767px) { display: none;}
}

.hide-768{
  display: none;
  @media (max-width: 767px) { display: block;}
}
.dark-block{
  padding: 20px;
  background-color: #282828;
  border-radius: 24px;
  color: white;
  @media (max-width: 767px) {
  border-radius: 12px;
  }
}
.txt-center{text-align: center; margin-inline: auto;}