@use "var" as *;
.svg-footer-logo{
	width: remy(476);
	height: remy(71);
	transition: .3s; 
	color: #4D4E4F;
	&:hover{color: #A4A6A9;}
	
}
.svg-eye{
	width: remy(18);
	height: remy(14);
	flex-shrink:0;
	fill: transparent;
}
.svg-arrow-down{
	width: remy(18);
	height: remy(22);
	fill: transparent;
	color: white;
}
.svg-chevron{
	width: remy(31);
	height: remy(24);
	color: #3C3D3D;
	fill: transparent;
}
.svg-check, .svg-cross{
	width: remy(19);
	height: remy(18);
	color: #70BD0B;
	fill: transparent;
}
.svg-cross{
	color: #FF562F;
	width: remy(16);
	height: remy(13);
}
.yout-icon{
	display: block;
	width: remy(34);
	height: remy(14);
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='34' height='14' viewBox='0 0 34 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_3560_9821)'%3e%3cpath d='M5.69265 11.3477C5.42063 11.2553 5.23469 11.13 5.00769 10.8866C4.53086 10.3751 4.50466 10.2225 4.50466 7.9514C4.50466 5.76309 4.5386 5.55701 4.98284 5.04317C5.60569 4.32299 7.04587 4.34429 7.66091 5.08275C8.06937 5.57327 8.10257 5.79165 8.10257 7.98499C8.10257 9.72088 8.08736 10.0102 7.98038 10.3139C7.81637 10.7791 7.33309 11.2291 6.84276 11.3732C6.38032 11.5091 6.15257 11.5041 5.69265 11.3476V11.3477ZM6.53816 10.2951C6.81581 10.1896 6.84669 9.95868 6.84669 7.99151C6.84669 6.73619 6.82117 6.05444 6.76998 5.9433C6.59824 5.57011 6.00899 5.57011 5.83724 5.9433C5.78606 6.05444 5.76053 6.73619 5.76053 7.99151C5.76053 10.1864 5.78884 10.3137 6.28108 10.3315C6.36206 10.3344 6.47774 10.318 6.53816 10.2951ZM9.55409 11.3109C9.45633 11.2583 9.3188 11.1007 9.24861 10.9608C9.13015 10.7248 9.11942 10.4835 9.10068 7.63222L9.08052 4.5581H10.3767V7.37198C10.3767 9.78042 10.3912 10.198 10.4777 10.2688C10.6281 10.3924 10.8725 10.302 11.1488 10.0204L11.395 9.7696V4.55817H12.6848V11.3448H11.395V10.6614L11.0725 10.9448C10.8952 11.1006 10.6518 11.2694 10.5316 11.32C10.2515 11.4378 9.78198 11.4334 9.55409 11.3109ZM1.68654 9.47999L1.68553 7.61536L0.846669 4.9612L0.0078125 2.30703L0.689379 2.28775C1.08834 2.27646 1.38812 2.29608 1.41242 2.33505C1.4353 2.37168 1.65165 3.14373 1.89319 4.05072C2.13486 4.9577 2.34788 5.69993 2.36682 5.70006C2.38583 5.7002 2.56382 5.08806 2.76245 4.33965C2.96115 3.59131 3.16922 2.82026 3.22496 2.62621L3.32631 2.27344H4.04155C4.62427 2.27344 4.75013 2.29077 4.7206 2.36684C4.70071 2.41817 4.31553 3.62639 3.86477 5.05171L3.0452 7.64318V11.3446H1.68749L1.68654 9.47999Z' fill='white' /%3e%3cpath d='M19.3483 13.9617C16.0318 13.8521 15.1337 13.6185 14.5232 12.706C14.2765 12.3374 13.9996 11.5124 13.9114 10.8832C13.6018 8.67478 13.6779 4.0697 14.0499 2.48251C14.3869 1.04517 15.1793 0.341042 16.6249 0.194358C18.0449 0.0502267 21.7467 -0.0282559 25.3473 0.00937275C29.2345 0.0499579 31.0647 0.132271 31.7268 0.296291C33.0221 0.617008 33.6504 1.56142 33.8695 3.51623C33.9109 3.88579 33.9618 5.17605 33.9826 6.38339C34.0663 11.2573 33.6959 12.8078 32.2841 13.4924C31.751 13.751 31.4022 13.8104 29.8955 13.8994C28.2591 13.9961 21.581 14.0355 19.3483 13.9617ZM20.9798 11.3052C21.0943 11.2465 21.3219 11.0764 21.4856 10.9268L21.7833 10.6554V11.3444H23.0732V4.62499H21.7833V9.74948L21.4868 10.0429C21.1686 10.358 21.0399 10.3973 20.8718 10.2309C20.7782 10.1383 20.7651 9.7857 20.7651 7.37518V4.62493H19.4752V7.5357C19.4752 10.7467 19.5019 11.0008 19.8668 11.2703C20.0978 11.441 20.679 11.4591 20.9798 11.3052ZM27.1879 11.2834C27.3064 11.212 27.4705 11.0127 27.5613 10.8302C27.7206 10.51 27.7238 10.466 27.7461 8.28834C27.7705 5.90081 27.7317 5.46969 27.4483 4.98576C27.2909 4.71685 26.9155 4.49054 26.6267 4.49054C26.3485 4.49054 25.9499 4.67579 25.6459 4.94625L25.3134 5.2421V2.34033H24.0915V11.3443H25.3134V10.724L25.5921 10.9732C25.7454 11.1102 25.9669 11.2638 26.0843 11.3143C26.3995 11.4502 26.9367 11.4352 27.1879 11.2834ZM25.5679 10.1874L25.3134 10.0413V5.92029L25.6146 5.76212C25.8591 5.63378 25.9519 5.61651 26.1068 5.67033C26.4415 5.78671 26.4776 6.04339 26.4544 8.14173L26.4335 10.0123L26.243 10.1743C26.0098 10.3728 25.8952 10.3751 25.5679 10.1874ZM31.2873 11.2716C31.9433 10.9772 32.2387 10.4793 32.2904 9.58109L32.3243 8.9926H31.0156V9.39147C31.0156 9.87997 30.9391 10.0934 30.711 10.2413C30.454 10.408 30.1344 10.3021 29.9806 9.9991C29.8877 9.81627 29.8618 9.59345 29.8618 8.97574L29.8616 8.18621H32.3055V7.1996C32.3055 5.95785 32.2074 5.56208 31.7844 5.09643C31.4106 4.685 31.0101 4.52118 30.4047 4.5322C29.9028 4.54127 29.5674 4.66511 29.2152 4.97125C28.6395 5.47164 28.5522 5.91747 28.5866 8.18628C28.609 9.66045 28.6337 10.0196 28.7304 10.2731C28.8955 10.706 29.1937 11.0356 29.6032 11.2376C30.0648 11.4651 30.8218 11.4805 31.2873 11.2716ZM29.8617 6.67213C29.8617 5.83637 30.0783 5.5512 30.6234 5.66973C30.897 5.72926 31.0158 6.03244 31.0158 6.67219V7.1783H29.8617V6.67219L29.8617 6.67213ZM18.1854 7.48074V3.61709H19.6789V2.3404H15.4021V3.61709H16.8277V11.3444H18.1854V7.48074Z' fill='%23D02726' /%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_3560_9821'%3e%3crect width='34' height='14' fill='white' /%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}
.svg-right{
	width: remy(60);
	height: remy(41);
	display: inline-block;
	cursor:pointer;
}
.svg-decor-arrow{
	width: remy(61);
	height:remy(42);
	display: block;
}
.svg-next, .svg-prev{
	width: remy(17);
	height: remy(14);
	display: block;
	color:#D4DEEF;
}