@use "var" as *;
.swiper-pagination {display: flex;justify-content: center;}
 .swiper-pagination .swiper-pagination-bullet{
	height: remy(10);
	position: relative;
	// width: remy(150);
	max-width: 150px;
	
	flex:1;
	border-radius: 0;
	background: transparent;
	opacity: 1;
	&:after{
		content:'';
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: 3px;
		transform: translateY(-50%);
		background-color: rgba(212, 222, 239, .4);
	}
	&.swiper-pagination-bullet-active{
		// background-color: #D4DEEF;
		opacity: 1;
		outline: none;
		&:after{background-color: #D4DEEF;}
	}
}
.swiper-pagination.bullit-pagination {
	position: relative;
	margin-top: remy(16);
	display: flex;justify-content: center;}
.swiper-pagination.bullit-pagination .swiper-pagination-bullet{
		width: 11px;
		height: 11px;
		border-radius: 50%;
		background: #78797B;
		max-width: unset;
		flex:unset;
		&.swiper-pagination-bullet-active{background: #A4A6A9;}
}
.result-company-pagination.swiper-pagination .swiper-pagination-bullet{
        margin: 0 remy(4);
		width: remy(30);

	
	@media (max-width: 767px){width: 20px;}
}
.swiper-box{
	position: relative;
	
}
.swiper-button-next, .swiper-button-prev{
	width:  remy(24);
	height:  remy(70);
	display: flex;
	justify-content: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	opacity: 1;
	&:disabled{
		background-color: transparent;
		opacity: .65;
	}
	&:hover{svg{color: white;}}
}
.swiper-button-next{
	right:  remy(-40);
}
.swiper-button-prev{
	left:  remy(-40);
}
.swiper-button-next:after,
.swiper-button-prev:after{
	display: none;
}
.arr-left, .arr-right{
	width:  remy(20);
	height:  remy(70);
	fill: transparent;
	color:#3C3D3D;
}