@use "base/var" as *;
.modal-city{

	@media (max-width: 767px) {
	display: none;
	}
}
.modal-city .modal-frame-content{
	border-radius: remy(24);
	padding: remy(50) remy(70);
	width: 100%;
	max-width: remy(690);
	max-height: remy(316);
	backdrop-filter: blur(55px);
    background: rgba(57, 59, 63, 0.7);
	position: relative;
	
}

.search-city-list{
	display: flex;
	flex-wrap: wrap;
	gap: remy(10);
	margin-top: remy(32);
}
.search-city-item{
	font-family: var(--second-family);
	font-weight: 700;
	font-size: remy(20);
	color: #eee;
	white-space: nowrap;
	padding-left: remy(30);
	padding-right: remy(30);
	height: remy(52);
	border-radius: remy(30);
	border:1px solid white;
	text-align: center;
	line-height: remy(50);
	transition: .3s; 
	&:hover{
		border:1px solid #D4DEEF;
		background-color: #D4DEEF;
		color: #414346;
	}
}