@use "base/var" as *;
.header{
	.main-menu-wrapper{
		flex-grow:1;
		@media (max-width: 767px) {
		 position: fixed;
		 top: 79px;
		 bottom: 0;
		 left: 0;
		 right: 0;
		 display: flex;
		 z-index: 5;
		 background-color: #131313;
		 transform: translateX(-110%);
		 transition: .3s; 
		 &.active{transform: translateX(0);}
		}
		@media (max-width: 767px) {
		 
		}
		
	}
	.main-menu{
		display: flex;
		justify-content: center;
		
		@media (max-width: 767px) {
			width: 100%;
			// max-width: 390px;
			background-color: #131313;
			padding: 10px 20px 70px;
			height: calc(100vh - 145px);
			
			scrollbar-width: none;
			overflow: hidden;
			overflow-y: auto;
			&::-webkit-scrollbar{display: none;}
		}
		
	}
	.menu-list{
		display: flex;
		align-items: center;
		column-gap:remy(43);
		
		@media (max-width: 767px) {
		   width: 100%;
		   display: block;
		}
	}
	.menu-item{
		.menu-link{
			padding: remy(5);
			font-weight: 300;
			font-size: remy(16);
			color: #eee;
			transition: .3s;
			white-space:nowrap;
			&:hover{color: #A4A6A9;}
			@media (max-width:767px) {
			 padding-block: 25px;
			 font-weight: 600;
			 font-size: 18px;
			 color: var(--white);
			}	
		}
		
	}
	@media (max-width: 767px) {
	
		.menu-item +.menu-item{
			border-top: 1px solid #282828;
		}
	}
}