@use "base/var" as *;
.package{
	font-size: 10px;
	border-radius: 2.4em;
    transition: .3s; 
	padding: 3.4em 3.8em;
	background: #131313;
	color: #f9f9f9;
	max-width: 39em;
	height: 25.1em;
	display: flex;
	flex-direction: column;
	&.active, &:hover{background: linear-gradient(180deg, #2e77f7 0%, #13346d 100%);}
	&__name{
		font-family: var(--second-family);
		font-weight: 400;
		font-size: 1.6em;
		text-transform: uppercase;
		color: #d6d6d6;
		margin-bottom: .65em;
	}
	&__price{
		font-weight: 700;
		font-size: 32px;
	}
	&__link{
		font-family: var(--second-family);
		margin-top: auto;
		margin-left: auto;
		max-width: 7em;
		font-weight: 500;
		font-size: 2em;
		line-height: 1.10;
		svg{
			width: 33px;
			height: 23px;
			vertical-align: middle;
		}
	}
}
.package-list{
	display: grid;
	font-size: 10px;
	grid-template-columns: 1fr 1fr;
	width: 804px;
	&__item:nth-child(1){
		padding-bottom: 1.2em;
		padding-right: 1.2em;
	}
	&__item:nth-child(2){
		padding-bottom: 1.2em;
		padding-left: 1.2em;
		border-radius: 0 0 0 2.4em;
		border-left: 1px solid #515151;
		border-bottom: 1px solid #515151;
	}
	&__item:nth-child(3){
		padding-top: 1.2em;
		padding-right: 1.2em;
		border-top: 1px solid #515151;
		border-right: 1px solid #515151;
		border-radius: 0 2.4em 0 0;
	}
	&__item:nth-child(4){
		padding-top: 1.2em;
		padding-left: 1.2em;
		
	}
}