@use "base/var" as *;
.portfolio-card{
	border: 1px solid #c2c6cb;
    border-radius: remy(24);
    background-color: #282828;
	padding: remy(40) remy(50);
	.btn-light{background: linear-gradient(257deg, #fff 0%, #8bace4 100%);white-space: nowrap;}
	&__header{
		display: flex;
		column-gap: remy(20);
		margin-bottom: remy(24);
		
	}
	&__title{
		flex-grow: 1;
		font-weight: 900;
		font-size: remy(40);
		color: #f9f9f9;
		line-height: 1.3;
		
	}
	&__body{
		display: grid;
		grid-template-columns: 1fr remy(354);
		column-gap: remy(40);
		@media (max-width: 1799px) {
			grid-template-columns: 1fr remy(300);
		}
	}
	&__left{
		display: flex;
		flex-direction: column;
		row-gap:remy(17);
		&>*{width: 100%;}
	}
	.chart__title{
		font-family: var(--font-family);
		font-weight: 900;
		font-size: remy(20);
		margin-bottom: remy(24);
		
	}
	&__chart{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	.chart__subtext{
		display: grid;
		grid-template-columns: 1fr 1fr;
		text-align: center;
		font-size: remy(20);
		font-weight: 700;
		margin-top:remy(10);
	}
	
}
.icon-decor-text{
	display: flex;
	font-size:remy(20);
	align-items: center;
	line-height: 1.2;
	font-family: var(--second-family);
	color: #d6d6d6;
	column-gap:remy(20);
	img{
		width: remy(48);
		height: remy(48);
		flex-shrink: 0;
		
	}
	
}
.portfolio-card__company>*+*{margin-top: remy(10);}
.serv-list{
	font-size:remy(18);
	font-family: var(--second-family);
	line-height: 1.2;
	&__title{font-weight: 700; margin-bottom:remy(7);}
	
}
.compare-card{
	border-radius: remy(26);
	border: 1px solid  #d4deef;
	padding:15px 24px;
	
	color: white;
	font-family: var(--font-family);
	flex-grow:1;
	flex-shrink: 0;
	&__title{
		font-size: remy(32);font-weight: 400;
		margin-bottom: 0.5em;
		
		@media (max-width: 767px) {
			margin-bottom:0;
		}
	}
	&__list li{
		font-size:remy(14);
		font-weight: 700;
		display: flex;
		align-items: flex-end;
		column-gap:remy(20);
		justify-content: space-between;
		padding-block:remy(7);
		span{font-size: 1.8em;}
		*:last-child{
			width: remy(90);
			flex-shrink: 0;
		}
		
		@media (max-width: 767px) {
			span{font-size: 1.3em;}
		}
	}
	&__list li +li{border-top: 1px solid white;}
	
	
}
.compare-card.compare-card--after{
	background-color: #F98836;
}
.portfolio-card__compare{
	display: flex;
	column-gap:remy(20);

}


@media (max-width: 767px) {
	.portfolio-card{
		position: relative;
		
		padding: 14px;
		padding-bottom: 74px;
		.btn-light{
			position: absolute;
			bottom: 14px;
			left: 50%;
			width: calc(100% - 28px);
			max-width: 320px;
			transform: translateX(-50%);
				
		}
	}
	.portfolio-card__header{margin-bottom: remy(10);}
	.portfolio-card__left{row-gap:remy(9);}
	.portfolio-card__compare{
		flex-direction: column;
		row-gap: remy(9);
	}
	.icon-decor-text img{
		width: remy(22);
		height:remy(22);
	}
}