@use "base/var" as *;
.portfolio-card{
	border: 1px solid #c2c6cb;
    border-radius: remy(24);
    background-color: #282828;
	padding: remy(48) remy(50);
	.btn-outline{display: none; height: 52px; font-size: 20px; padding-inline:10px; width: 100%;}
	.btn-white{
		background: var(--white);
		height: remy(54);
		padding: remy(16) remy(46);
		border-radius: remy(46);
		font-family: var(--second-family);
		font-weight: 700;
		font-size: remy(18);
		letter-spacing: -0.02em;
		text-align: center;
		color: var(--back-2);
		&:hover{color: var(--back-2);}
		@media (max-width: 767px) {
		display: none;
		}
	}
	&__header{
		display: flex;
		column-gap: remy(20);
		margin-bottom: remy(24);
		
	}
	&__title{
		flex-grow: 1;
		font-weight: 900;
		font-size: remy(40);
		color: #f9f9f9;
		line-height: 1.3;
		@media (max-width: 767px) {
		font-size: 18px;
		}
	}
	&__body{
		display: grid;
		grid-template-columns: 1fr remy(354);
		column-gap: remy(40);
		@media (max-width: 1799px) {
			grid-template-columns: 1fr remy(300);
		}
		@media (max-width: 767px) {
			grid-template-columns: 1fr;
			row-gap:16px;
			padding-top: 14px;
		}
	}
	&__left{
		display: flex;
		flex-direction: column;
		row-gap:remy(17);
		&>*{width: 100%;}
	}
	.chart__title{
		font-family: var(--font-family);
		font-weight: 700;
		font-size: remy(24);
		margin-bottom: remy(24);
		@media (max-width: 767px) {
			font-size: 18px;
			margin-bottom: 0;
		}
		
	}
	&__chart{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	.chart__subtext{
		display: grid;
		grid-template-columns: 1fr 1fr;
		text-align: center;
		font-size: remy(20);
		font-weight: 700;
		margin-top:remy(10);
		max-width: remy(300);
		@media (max-width: 767px) {
		font-size: 14px;
		margin-top: 0;
		max-width: 190px;
		}
	}
	@media (max-width: 767px) {
	   padding: 16px 22px 30px;
	}
}
.icon-decor-text{
	display: flex;
	font-size:remy(20);
	align-items: center;
	line-height: 1.2;
	font-family: var(--second-family);
	color: #d6d6d6;
	column-gap:remy(20);
	img{
		width: remy(48);
		height: remy(48);
		flex-shrink: 0;
		
	}
	@media (max-width: 767px) {
		column-gap:12px;
		.txt-20{font-size:12px;}
		img{
			width: 34px;
			height: 34px;
			
		}
		
	}
}
.portfolio-card__company>*+*{margin-top: remy(10);}
.serv-list{
	
	font-family: var(--second-family);
	line-height: 1.2;
	&__title{font-weight: 700; margin-bottom:remy(7); font-size:remy(20);font-family: var(--font-family);}
	@media (max-width: 767px) {
		margin-top: 17px;
		&__title{font-size:12px; margin-bottom:remy(5);}
		p{font-size: 12px; }
	}
}
.compare-card{
	border-radius: remy(26);
	border: 1px solid  #d4deef;
	padding:remy(15) remy(24);
	
	color: white;
	font-family: var(--font-family);
	flex-grow:1;
	flex-shrink: 0;
	&__title{
		font-size: remy(32);font-weight: 400;
		margin-bottom: 0.5em;
		
		@media (max-width: 767px) {
			margin-bottom:0;
		}
	}
	&__list li{
		font-size:remy(14);
		font-weight: 700;
		display: flex;
		align-items: flex-end;
		column-gap:remy(20);
		justify-content: space-between;
		padding-block:remy(7);
		span{font-size: 1.8em;}
		*:last-child{
			width: remy(90);
			flex-shrink: 0;
		}
		
		@media (max-width: 767px) {
			column-gap:8px;
			span{font-size: 1.3em;}
		}
	}
	&__list li +li{border-top: 1px solid white;}
	
	@media (max-width: 767px) {
	  padding: 8px;
	  &__title{font-size: 12px;}
	  &__list li{font-size: 6px; span{font-size: 10px;}}
	}
}
.compare-card.compare-card--after{
	background-color: #F98836;
}
.portfolio-card__compare{
	display: flex;
	column-gap:remy(20);

}


@media (max-width: 767px) {
	.portfolio-card{
		position: relative;
		height: 470px;
		padding: 14px;
		
		.btn-outline{
			display: flex;
			margin-top: 14px;
				
		}
	}
	.portfolio-card__header{padding-top: 14px; margin-bottom:0;}
	.portfolio-card__left{row-gap:9px;}
	.portfolio-card__compare{
		// flex-direction: column;
		column-gap:7px;
		row-gap: 9px;
		padding-top: 13px;
		.compare-card{
			flex:1;
			border-radius: 9px;

		}
		.compare-card__list li *:last-child{
			width: fit-content;
			min-width: 37px;
		}
	}
	.icon-decor-text img{
		width: remy(22);
		height:remy(22);
	}
}
.portfolio-card-toggle{
	display: none;
	@media (max-width: 767px) {
		display: flex;
		border-bottom: 1px solid #d4deef;
		.card-toggle{
			flex:1;
			display: flex;
			font-family: var(--second-family);
			font-weight: 600;
			font-size: 14px;
			color: #d4deef;
			justify-content: center;
			align-items: center;
			height: 43px;
		}
		.card-toggle+.card-toggle{border-left: 1px solid #d4deef; }
	}
}
.portfolio-card{
	@media (max-width: 767px) {
	*[data-child]{display: none;}
	*[data-child].active{display: block;}
	.btn-outline.active[data-child]{display: flex;}
	}
}