@use "base/var" as *;


.techno-card {
	display: flex;
	align-items: center;
	font-size: remy(10);
	padding: 2.2em;
	column-gap: 2em;
	border-radius: 2.4em;
	width: 358px!important;
	
	height: auto;
	// height: remy(114);
	background: #282828;
	position: relative;
	transition: transform 0.3s ease;
	transform-origin: top; // ключевой момент
	align-self: flex-start;
	grid-column: span 1;
	&__img {
		width: 7em;
		height: 7em;
		flex-shrink: 0;
	}

	&__title {
		font-weight: 700;
		font-size: 2.4em;
		line-height: 1;
		color: #bbb;
	}

	&__txt {
		overflow: hidden;

		p {
			font-family: var(--second-family);
			font-weight: 400;
			// font-size: 0; // скрыто изначально
			line-height: 1.2;
			letter-spacing: -0.02em;
			color: #7a7a7a;
			margin-top: 0.9em;
		}
	}
}

@media (min-width: 768px) {
	.techno-card-wrapper {
		display: grid;
		font-size: 10px;;
		grid-template-columns: repeat(4, 1fr);
		gap: 3.2em 2.4em;
		align-content: center;
		position: relative;
		
		grid-auto-rows: 1fr; // фиксирует строки
	}
	.techno-card{
		width: 100%!important;
		// &:nth-child(-n+4){
		// 	transform-origin: bottom; // ключевой момент
		// 	align-self: flex-end;
		// }
		&__txt p {
			max-height: 0;
			transition: all 0.1s ease;
			opacity: 0;
			overflow: hidden;
		}
		&:hover {
			transform: scaleY(1.02); // растёт вверх
			// height: remy(150);
			.techno-card__txt p {
				font-size: 1.8em;
				max-height: 66px;
				opacity: 1;
			}
		}
	}
}
