@use "base/var" as *;
.video-review{
	overflow: hidden;
	font-size: 10px;
	width: 52.5em;
	&__screen{
		
		height: 27.2em;
		
		position: relative;
		overflow: hidden;
		img{
			border-radius: 1.8em;
		}
		&:after{
			content:'';
			background-image: url(../img/play-button.webp);
			background-size: contain;
			background-repeat: no-repeat;
			height: 7em;
			width: 7em;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;

		}
	}
	&__body{
		column-gap:2em;
		padding-left: 2.5em;
		padding-top: 2em;
		.flex{justify-content: space-between;}
	}
	&__img{
		width: 5.5em;
		height: 5.5em;
		flex-shrink: 0;
	}
	&__title{
		font-weight: 600;
		font-size: 1.4em;
		line-height: 130%;
		color: #d6d6d6;
	}
	&__txt{
		padding-top: 1em;
		font-family: var(--second-family);
		font-weight: 400;
		font-size: 1.1em;
		line-height: 1.40;
		color: #a4a6a9;
		padding-right: 2.4em;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		overflow: hidden;
	}
}