extends ../layouts/layout-swiper.pug

block content
	.page-column
		
		//==== MAIN =====
		main.inner-main
			.container
				button.btn-accent(type="button" data-btn="place-order") Оставить заявку
		
		//===== popUp широкое, достигается за счет доп класса .modal-frame--large ======= 
		.modal-frame.modal-frame--large(data-modal="place-order")
			.modal-frame-wrapper
				.modal-frame-content
					//====FORM=====
					.modal-frame-form
						.modal-title Оставьте заявку
						.modal-subtitle Мы подготовим предложение и поможем определиться с выбором услуг 
						//===== FORM =====
						form.modal-form.grid-form(action="" method="method")
							.form-item
								input.form-input(type="text" placeholder="Имя")
								span.form-input-state
							.form-item
								input.form-input.phone(type="tel" placeholder="+7 (     )")
								span.form-input-state
							.form-item
								input.form-input.phone(type="email" placeholder="Email")
								span.form-input-state
							//==== инпут загрузки файла с компьютера====
							.fileUpload-group
								label.fileUpload-label.round-btn.error
									input.form-input.fileUploadInput(type="file")
									span.fileUpload-name.round-btn__name Добавить файл
									span.form-input-state
								p.fileUpload-limit *Файл должен быть не более 10 мб
							
							
							.brif-btn.round-btn.round-btn--change.error
								span.round-btn__name Заполнить бриф
								span.form-input-state.active
							
							//===== btn-group =====
							.form-btn-group
								button.btn-primary(type="submit")
									span Отправить заявку
								p.accept-terms  Нажав на кнопку, соглашаюсь на обработку #[a(href="#!") персональных данных]
								

					//====SUCCESS MESSAGE=====
					.modal-success
						p Сообщение успешно отправлено!|
						p Скоро с вами свяжуться наши специалисты 🤍
			
		//==== FOOTER =====
		include ../sections/_footer.pug
	
block variables
	-var title = "Оформиь заказ";