extends ../layouts/layout-swiper.pug

block content
	.page-column
		include ../sections/_header.pug
		//==== MAIN =====
		main.inner-main
			include ../sections/_promo-seo.pug
			include ../sections/_parallax-seo.pug
			//- include ../sections/_seo-map.pug
			include ../sections/_what-seo-animate.pug
			include ../sections/_stage-line.pug
			include ../sections/_technology.pug
			//- include ../sections/_what-seo.pug
			include ../sections/_seo-stages.pug
			include ../sections/_our-mission.pug
			include ../sections/_our-portfolio.pug
			include ../sections/_team.pug
			include ../sections/_tariff.pug
			include ../sections/_quiz.pug
			include ../sections/_geo.pug
			include ../sections/_our-clients.pug
			include ../sections/_highlight.pug
			
			include ../sections/_review.pug
			include ../sections/_services.pug
			include ../sections/_feedback.pug

			
		//==== FOOTER =====
		include ../sections/_footer.pug
	
block variables
	-var title = "SEO";
