extends ../layouts/layout-swiper.pug

block content
	.page-column
		include ../sections/_header-target.pug
		//==== MAIN =====
		main.inner-main.inner-main--target
			include ../sections/_promo-target.pug
			//- include ../sections/_parallax-seo.pug
			include ../sections/_target-direction.pug
			include ../sections/_what-target.pug
			include ../sections/_target-techno.pug
			include ../sections/_stage-line.pug
			include ../sections/_packajes-tariffs.pug
			include ../sections/_seo-stages.pug
			include ../sections/_our-mission.pug
			include ../sections/_our-portfolio.pug
			include ../sections/_team.pug
			include ../sections/_tariff.pug
			include ../sections/_quiz.pug
			include ../sections/_geo.pug
			include ../sections/_our-clients.pug
			include ../sections/_highlight.pug
			
			include ../sections/_review.pug
			include ../sections/_services.pug
			include ../sections/_feedback.pug

			
		//==== FOOTER =====
		include ../sections/_footer.pug
	
block variables
	-var title = "SEO";
